// @include edit();

body {
  min-width: 320px;
  background: #f2efea;
  font: 300 14px $fontMain;
}
h1,
h2,
h3 {
  // font-weight: ;
  color: $colorPale;
}
h1 {
  @include typo(44px, 70px, 100);
  @include respond-to(mob) {
    margin: 30px 0 20px;
    font-size: 32px;
    line-height: 38px;
  }
  margin: 64px 0 38px;
  color: $colorMain;
}
a {
  color: inherit;
  text-decoration: none;
  transition: color $d $e;
  &:hover {
    color: $colorMain;
  }
}
hr {
  margin: 60px 0;
  height: 1px;
  border: 0;
  background: #d1ccc6;
}
.sc {
  font-variant: small-caps;
}
.wrapper {
  transition: all $d $e;

  -webkit-backface-visibility: hidden;
  &.is__blurred {
    filter: blur(3px);
  }
}
.holder {
  @include respond-to(tab) {
    width: 640px;
  }
  @include respond-to(660px) {
    margin: 0 10px;
    width: auto !important;
  }
  margin: auto;
  width: 960px;
}
.tholder {
  margin: auto;
  padding: 0 20px;
  width: 620px;
}
.brand {
  color: $colorMain;
}



.buttonset {
  @include respond-to(mob) {
    margin: 30px auto 0;
    max-width: 180px;
    text-align: center;
    .button {
      display: block;
      margin-bottom: 20px;
    }
  }
  margin-top: 60px;
  text-align: justify;
  &:after {
    display: inline-block;
    width: 100%;
    content: "";
  }
}
.tester {
  border: 1px solid red;
}

.section {
  @include clear;
}

.loader {
  margin: 30px 0;
  text-align: center;
}
