@font-face {
  font-family: 'Museo Sans';
  src: font-url('museosanscyrl-100-webfont.eot');
}
@font-face {
  font-family: 'Museo Sans';
  src: font-url('museosanscyrl-300-webfont.eot');
}
@font-face {
  font-family: 'museo_sans_cyrl500';
  src: font-url('museosanscyrl-500-webfont.eot');
}
@font-face {
  font-family: 'Museo Sans';
  src: font-url('museosanscyrl-700-webfont.eot');
}
