// @import "compass/utilities/sprites";
@import "compass/css3/background-size";

// Fonts
$fontMain: 'Museo Sans', Arial, sans-serif;

// Colors
$colorMain: #fc393d;
$colorAlt: #fee9be;
$colorPale: rgba(0,0,0,.9);

$d: .4s;
$e: ease;

// Sprites
$icons: sprite-map("i/*.png", $spacing: 10px);
// $iconr: sprite-map("r/*.png", $spacing: 10px);
@mixin image-size($path){
  width: image-width($path);
  height: image-height($path);
}
@mixin sized-sprite($map, $sprite){
  background: sprite($map, $sprite) no-repeat;
  @include image-size(sprite-file($map, $sprite));
}
@mixin bgs($sprite) {
  background: sprite($icons, $sprite) no-repeat;
  // @media (-webkit-min-device-pixel-ratio: 2), (min-resoultion: 192dpi) {
  //   background: sprite($iconr, $sprite) no-repeat;
  //   $ypos: round(nth(sprite-position($iconr, $sprite), 2) / 2);
  //   background-position: 0 $ypos;
  //   @include background-size(ceil(image-width(sprite-path($iconr)) / 2), ceil(image-height(sprite-path($iconr)) / 2));
  // }
}
@mixin sbgs($sprite) {
  @include sized-sprite($icons, $sprite);
  // @media (-webkit-min-device-pixel-ratio: 2), (min-resoultion: 192dpi) {
  //   background: sprite($iconr, $sprite) no-repeat;
  //   $ypos: round(nth(sprite-position($iconr, $sprite), 2) / 2);
  //   background-position: 0 $ypos;
  //   @include background-size(ceil(image-width(sprite-path($iconr)) / 2), ceil(image-height(sprite-path($iconr)) / 2));
  // }
}

// Breaks
$break-1: 420px;
$break-2: 640px;
$break-3: 768px;
$break-4: 960px;
@mixin respond-to($media) {
  @if $media == sm {
    @media only screen and (max-width: $break-1 - 1) { @content; }
  }
  @if $media == mob {
    @media only screen and (max-width: $break-2 - 1) { @content; }
  }
  @if $media == pre {
    @media only screen and (max-width: $break-3 - 1) { @content; }
  }
  @if $media == tab {
    @media only screen and (max-width: $break-4 - 1) { @content; }
  }
  @if $media == desk {
    @media only screen and (min-width: $break-4) { @content; }
  }
  @if $media == amob {
    @media only screen and (min-width: $break-2) { @content; }
  }
  @else {
    @media only screen and (max-width: $media) { @content; }
  }
}

// Utils
@mixin retina() {
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
      /* Retina-specific stuff here */
  }
}
@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}
@mixin clear {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}
.clear {
  @include clear;
}
@mixin typo($font-size, $line-height, $font-weight: false) {
  font-size: $font-size;
  line-height: $line-height;
  @if $font-weight {
    font-weight: $font-weight;
  }
}

@mixin lines($color, $offset) {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 1000em;
    top: 50%;
    background: $color;
  }
  &:before {
    right: 100%;
    margin-right: $offset;
  }
  &:after {
    left: 100%;
    margin-left: $offset;
  }
  @include respond-to(mob) {
    &:before,
    &:after {
      content: normal;
    }
  }
}
