.pheader {
  overflow: hidden;
  background: #e9e3dc;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  .holder {
    margin: auto;
    padding: 0 20px;
    width: 620px;
  }
  h1 {
    font-weight: 300;
  }
  .buttonset {
    margin: 62px 0 82px;
  }
  .button {
    color: $colorMain;
    line-height: 50px;
    &:hover {
      color: #fff;
    }
  }
}

.pheader-desc {
  @include typo(22px, 32px, 100);
  @include respond-to(mob) {
    font-size: 16px;
    line-height: 22px;
  }
}
.products {
  padding-bottom: 60px;
}
.products_additional {
  overflow: hidden;
  background: #e9e3dc;
  .products-title {
    margin: 53px 0;
  }
}
.products_serv {
  background: #e9e3dc;
  .product {
    background: #eeeae5;
  }
}
.products-title {
  margin: 66px 0 75px;
  @include typo(44px, 53px, 700);
  color: #000;
  text-align: center;
  overflow: hidden;
  @include respond-to(mob) {
    font-size: 32px;
    line-height: 38px;
  }
}
.products-title-in {
  position: relative;
  display: inline-block;
  width: 780px;
  @include respond-to(mob) {
    width: auto;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 1000em;
    height: 1px;
    background: #fff;
  }
  &:after {
    left: 100%;
  }
  &:before {
    right: 100%;
  }
}
.products-pre {
  margin-top: 94px;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  @include respond-to(mob) {
    font-size: 18px;
  }
}
