!!!
/[if lt IE 9] <html class="ie">
/[if IE 9] <html class="ie9">
%html
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %title= data.page.title
    = stylesheet_link_tag 's'
    %meta{content: "initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width", name: "viewport"}
    %meta(name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)")
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js'
    /[if IE 9]
      %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
  %body
    .wrapper#js__wrapper
      %header.header
        .menu#js__menu
          .menu-block.menu-block_left
            = link_to "/solutions.html", class: "menu-item #{data.page.menu_1}" do
              %span.menu-item-in{:title => "Решения"} Решения
            = link_to "/clients.html", class: "menu-item #{data.page.menu_2}" do
              %span.menu-item-in{:title => "Клиенты"} Клиенты
            = link_to "/support.html", class: "menu-item #{data.page.menu_3}" do
              %span.menu-item-in{:title => "Поддержка"} Поддержка
          .menu-block.menu-block_right
            = link_to "/about.html", class: "menu-item #{data.page.menu_4}" do
              %span.menu-item-in{:title => "Компания"} Компания
            = link_to "/contacts.html", class: "menu-item #{data.page.menu_5}" do
              %span.menu-item-in{:title => "Контакты"} Контакты
            %span.menu-item.menu-item_phone 8 800 555 10 63
          .langs#lang
            %a.langs-current.js__toggler{:href => "#lang"}
              %span.lang.lang_ru
            %ul.langs-list
              -# %a.lang.lang_ru{:href => "#"} Ru
              %a.lang.lang_en{:href => "#"} En
        .langs#langd
          %a.langs-current.js__toggler{:href => "#langd"}
            %span.lang.lang_ru
          %ul.langs-list
            -# %a.lang.lang_ru{:href => "#"} Ru
            %a.lang.lang_en{:href => "#"} En
        %a.logo{:href => "/"} iiko
        .links
          %a.links-cart.total.js__plink.js__cart-counter{:href => "#cart"}
            %span.total-old.js__cart-counter-old 0
            %span.total-new.js__cart-counter-new 0
          %a.links-feedback.js__plink{:href => "#feedback"} ?
        %a.menu-link.js__toggler{:href => "#js__menu"}
      = yield
      %footer.footer
        .footer-additional
          .holder
            .footer-col.footer-videos
              %h3 Обучающие видео
              %ul.footer-videos-list
                %li
                  %a{:href => "#"} iikoEducation: основы iiko
                %li
                  %a{:href => "#"} iiko v.3.6 Новые возможности
                %li
                  %a{:href => "#"} Интеграция iiko и 1С
                %li
                  %a{:href => "#"} Приложения для официантов
              %p
                %a{:href => "#"} Все видео →

            .footer-col.footer-phones
              %h3 ТЕХПОДДЕРЖКА В МОСКВЕ
              %p.footer-phone +7 495 215 09 41
              %h3 ТЕХПОДДЕРЖКА В РЕГИОНАХ
              %p.footer-phone 8 800 555 10 63

            .footer-col.footer-mailing
              %h3 Рассылка новостей
              %form.mailing{:action => "#"}
                %input.mailing-input{:type => "text", :placeholder => "E-mail"}/
                %input.mailing-button{:type => "submit", :value => "Подписаться"}/
                %p.mailing-desc Звонок в техподдержку бесплатный. Консультация оплачивается согласно тарифу.
        .footer-links
          .holder
            %a.footer-link{:href => "#"} partner.iiko.ru
            %a.footer-link{:href => "#"} iiko.net
            %a.footer-link{:href => "#"} iikosoftware.com
        .footer-bottom
          .holder
            .footer-social
              %a.fsocial-item.fsocial-item_fb{:href => "#", :title => "Facebook"}
              %a.fsocial-item.fsocial-item_tw{:href => "#", :title => "Twitter"}
              %a.fsocial-item.fsocial-item_vk{:href => "#", :title => "Vk"}
              %a.fsocial-item.fsocial-item_yt{:href => "#", :title => "Youtube"}
            .footer-copy
              © <strong>2003-2014</strong> Компания <strong>Айко</strong>
            .footer-devby
              Site made with ♥ at <a href="http://www.funkypunky.ru/">FNKPNK</a>

    - if data.page.item
      .popup.mfp-hide#item= partial :item
    .popup.mfp-hide#feedback= partial :feedback
    .popup.mfp-hide#cart= partial :cart
    = javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'
    = javascript_include_tag 'x'

    - if data.page.maps == true
      = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyBJmFbgtQI5gtVuE2fEzwz6ba2QUqpzI5Y&sensor=false'
      = javascript_include_tag 'map'

    - if data.page.contacts == true
      = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?key=AIzaSyBJmFbgtQI5gtVuE2fEzwz6ba2QUqpzI5Y&sensor=false'
      = javascript_include_tag 'contacts'
