.solution-products-list.js__tbox
  .js__tbox-in.js__eqs
    = partial :product, locals: {title: "CallCenter", nobutton: true}
    = partial :product, locals: {title: "Monitoring", nobutton: true}
    = partial :product, locals: {title: "Monitoring", nobutton: true}
  .loader
    = partial :button, locals: {text: "показать все", aclass: "button_action js__tbox-toggler"}
  .solution-products-more.js__tbox-hid
    = partial :product, locals: {title: "CallCenter", nobutton: true}
    = partial :product, locals: {title: "Monitoring", nobutton: true}
    = partial :product, locals: {title: "Monitoring", nobutton: true}
