

.media {
  width: 1100px;
  padding-bottom: 45px;
  @include respond-to(1120px) {
    width: auto;
    padding: 0 20px;
  }
}
.media-title {
  overflow: hidden;
  text-align: center;
  color: #000;
  font-weight: 300;
  margin-top: 0;
}
.media-title-in {
  @include lines(#b1adaa, 50px);
}
.media-list {
  text-align: justify;
  margin: 0 -20px;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
.media-item {
  display: inline-block;
  width: 108px;
  line-height: 108px;
  height: 108px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  margin: 0 10px 30px;
  img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
  }
}
.media-item_archive {
  border: 2px solid $colorMain;
  color: $colorMain;
}

.publs {
  background: #e9e3dc;
  padding-bottom: 40px;
  h1 {
    margin-top: 48px;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
    font-weight: 300;
  }
  .loader {
    margin-top: 20px;
  }
}
.publs-list {
  word-spacing: -4px;
}
.publ {
  word-spacing: 0;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0 10px 47px;
  @include respond-to(mob) {
    width: auto;
    display: block;
    margin-bottom: 30px;
  }
  @include typo(14px, 18px);
}
.publ-title {
  margin-bottom: 12px;
  @include typo(22px, 28px, 500);
  a {
    color: $colorMain;
  }
}

.addresses {
  padding: 64px 0;
  text-align: center;
}
.address {
  width: 380px;
  display: inline-block;
  vertical-align: top;
  margin: 0 50px 50px;
  @include respond-to(mob) {
    width: auto;
    margin: 0 auto 50px;
    display: block;
    text-align: center;
  }
  @include typo(18px, 24px);
  p {
    margin: 1em 0;
  }
  .button {
    margin-top: 35px;
  }
}
.address-map {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}
.address-city {
  margin-top: 1em;
  font-size: 29px;
}
