.button {
  position: relative;
  display: inline-block;
  color: #000;
  font-size: 14px;
  line-height: 39px;
  min-width: 144px;
  border: 1px solid $colorMain;
  text-align: center;
  transition: all $d $e;
  background: none;
  white-space: nowrap;
  padding: 0 30px;
  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    transition: all $d $e;
    height: 0;
    top: 0;
    left: 0; right: 0;
    background: $colorMain;
  }
  &:hover,
  &:active {
    color: #fff;
    &:before {
      height: 100%;
    }
  }
  &:active {
    top: 1px;
  }
}
.button-in {
  position: relative;
  z-index: 2;
}

.button_alt {
  background: $colorMain;
  color: #fff;
}
.button_action {
  text-transform: uppercase;
  line-height: 47px;
}
.button_gray {
  border-color: #cbcac9;
  color: #817d7a;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 34px;
  padding: 0 18px;
  min-width: 100px;
  font-size: 10px;
  letter-spacing: .08em;
  &:before {
    background: #cbcac9;
  }
}
.button_big {
  line-height: 47px;
  padding: 0 35px;
}
