.cart {
  padding: 0 40px;
  h1 {
    margin: 57px 0 40px;
    font-weight: 300;
    text-align: center;
  }
}

.cart-table {
  width: 100%;
  font-size: 21px;
  border-bottom: 1px solid #d1ccc6;
  margin-bottom: 30px;
  thead {
    border-bottom: 1px solid #d1ccc6;
  }
  td {
    padding: 19px 16px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  tbody tr:first-child td { padding-top: 37px; }
  tbody tr:last-child td { padding-bottom: 37px; }
  th {
    font-size: 12px;
    font-weight: 300;
    padding: 18px 16px 24px;
  }
}
.cart-item-image {
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  float: left;
  img {
    max-height: 100%;
  }
}
.cart-item-name {
  // white-space: nowrap;
}
.cart-item-title {
  // display: inline-block;
}
.cart-item-name_long {
  font-size: 16px;
  line-height: 21px;
}
.cart-item-amount {
  .form-input {
    width: 44px;
    text-align: center;
  }
}
.cart-total {
  text-align: right;
  color: $colorMain;
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  margin-bottom: 50px;
}
.cart-helper {
  float: left;
  font-size: 12px;
  color: #000;
  line-height: 30px;
  font-weight: 100;
}

.cart-item-price,
.cart-item-amount,
.cart-item-total {
  white-space: nowrap;
  @include respond-to(mob) {
    display: none;
  }
}
