.submenu_clients {
  width: 700px;
  margin: auto;
  @include respond-to(tab) {
    width: 450px;
  }
}
.map {
  text-align: center;
  overflow: hidden;
  position: relative;
}
.map-in {
  height: 100%;
}
.map-zoom {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 20px;
  background: $colorMain;
  line-height: 42px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.map-zoom_out {
  top: 20px;
}
.map-zoom_in {
  top: 63px;
}
.clients-menu {
  text-align: center;
  line-height: 75px;
  border: solid #e1dcd8;
  border-width: 1px 0;
  a {
    margin: 0 55px;
  }
}

.clients-logos {
  text-align: center;
  width: 980px;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 60px;
  @include respond-to(1020px) {
    width: auto;
    margin: 0 20px;
  }
  h1 {
    font-weight: 700;
    width: 500px;
    margin: 67px auto 47px;
    line-height: 50px;
    @include respond-to(mob) {
      width: auto;
      @include typo(32px, 39px, 500);
      margin: 25px 0;
    }
  }
  .buttons {
    margin: 25px 0 100px;
    @include respond-to(mob) {
      margin-bottom: 45px;
    }
  }
}
.clients-logos-list {
  margin-top: 80px;
  text-align: center;
  @include respond-to(mob) {
    margin-top: 35px;
  }
}
.clients-logos-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 30px 40px;
}

.stories-title {
  margin-top: 87px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  width: 940px;
  @include respond-to(980px) {
    margin: 30px 20px;
    width: auto;
  }
  overflow: hidden;
  text-align: center;
  @include respond-to(mob) {
    width: auto;
  }
}
.stories-title-in {
  display: inline-block;
  @include lines(#b1adaa, 25px);
}
.stories-list {
  text-align: center;
  word-spacing: -4px;
  margin-bottom: 90px;
  @include respond-to(mob) {
    margin: 0;
  }
}
.story {
  display: inline-block;
  width: 220px;
  vertical-align: top;
  text-align: left;
  margin: 0 10px 35px;
  word-spacing: 0;
}
.story-image {
  display: block;
  width: 220px;
  height: 220px;
  overflow: hidden;
  margin-bottom: 23px;
  img {
    max-height: 100%;
  }
}
.story-title {
  @include typo(20px, 28px, 700);
}


.clients {
}
.clients-splash {
  padding-top: 35px;
  background: image-url("bg_clients.jpg");
  background-size: cover !important;
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,.75);
  background-size: cover;
  padding-bottom: 140px;
  @include respond-to(mob) {
    text-align: center;
    padding-bottom: 25px;
  }
}
.clients-pre {
  font-size: 24px;
  margin-bottom: 97px;
  @include respond-to(mob) {
    margin-bottom: 35px;
  }
}
.clients-suf {
  font-size: 40px;
  font-weight: 500;
  margin: 8px 0 50px;
  @include respond-to(mob) {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 0;
  }
}
.clients-counter {
  // width: 144px;
  // height: 43px;
  @include respond-to(mob) {
    margin: 0 auto 35px;
    // width: 193px;
    // height: 57px;
  }
}
.counter-digit {
  display: inline-block;
  vertical-align: top;
  @include sbgs(counter_m);
  line-height: 43px;
  text-align: center;
  color: #464958;
  text-shadow: none;
  font-size: 20px;
  font-weight: 500;
  @include respond-to(mob) {
    @include sbgs(counter);
    line-height: 57px;
  }
}
.clients-switcher {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 133px;
  @include respond-to(mob) {
    position: relative;
    line-height: 16px;
    text-align: center;
    margin: 20px 16px 0;
    height: auto;
  }
}
.clients-preview-list {
  width: 10000em;
  transition: margin-left .3s;
  word-spacing: -4px;
  position: relative;
  @include respond-to(mob) {
    position: relative;
    width: auto;
    border: 1px solid #bbb7b2;
    border-radius: 9px;
    display: inline-block;
    padding: 0 10px;
    margin-left: 0 !important;
    left: 0 !important;
    &:before,
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      top: 8px;
      background: #bab6b0;
    }
    &:before {
      right: 100%;
      left: -1000em;
      margin-right: 8px;
    }
    &:after {
      left: 100%;
      right: -1000em;
      margin-left: 8px;
    }
  }
}
.clients-preview-list-in {
  display: inline-block;
  @include respond-to(mob) {
    display: none;
    &:first-child {
      display: inline-block;
    }
  }
}
.client-preview {
  display: inline-block;
  width: 133px;
  height: 133px;
  line-height: 133px;
  margin: 0 2px;
  background: rgba(242,239,234,.2);
  vertical-align: top;
  text-align: center;
  transition: background .2s;
  @include respond-to(mob) {
    width: 5px;
    height: 5px;
    background: #c1beba;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 2px;
  }
  &:hover {
    background: rgba(242,239,234,.4);
    @include respond-to(mob) {
      background: $colorMain;
    }
  }
  &.is__active {
    background: #f2efea;
    @include respond-to(mob) {
      background: $colorMain;
    }
  }
  img {
    vertical-align: middle;
    max-width: 75px;
    max-height: 75px;
    vertical-align: middle;
    @include respond-to(mob) {
      display: none;
    }
  }
}
.clients-wrapper {
  position: relative;
}
.clients-nav {
  position: absolute;
  z-index: 10;
  top: 135px;
  width: 29px;
  height: 54px;
  cursor: pointer;
  @include respond-to(mob) {
    display: none;
  }
}
.clients-nav_prev {
  left: 3%;
  @include bgs(nav_left);
}
.clients-nav_next {
  right: 3%;
  @include bgs(nav_right);
}
.clients-list-wrapper {
  overflow: hidden;
  position: relative;
}
.clients-list {
  width: 10000%;
  white-space: nowrap;
  @include clear;
  transition: margin .3s ease;
}
.client {
  float: left;
  padding: 45px 0 75px;
  width: 1%;
  white-space: normal;
  @include respond-to(mob) {
    padding: 0;
  }
  &.is__active {
    display: block;
  }
  .holder {
    width: 840px;
    position: relative;
    @include clear;
    @include respond-to(1024px) {
      width: auto;
      margin: 0 10%;
    }
    @include respond-to(mob) {
      margin: 0 10px;
    }
  }
}
.client-logo {
  position: absolute;
  top: 0;
  right: 0;
  background: #e0ddd8;
  border-radius: 50%;
  width: 246px;
  line-height: 246px;
  text-align: center;
  @include respond-to(mob) {
    width: 100px;
    height: 100px;
    line-height: 100px;
    position: static;
    float: left;
    margin-left: 7px;
  }
  img {
    vertical-align: middle;
    max-width: 65%;
    max-height: 40%;
  }
}
.client-feedback {
  margin-bottom: 40px;
  font-size: 22px;
  line-height: 29px;
  margin-right: 340px;
  @include respond-to(840px) {
    font-size: 18px;
    line-height: 25px;
    margin-right: 300px;
  }
  @include respond-to(mob) {
    position: relative;
    display: block;
    width: auto;
    margin: 0 -10px 34px;
    background: #fff;
    padding: 25px 10px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 100%;
      left: 65px;
      border-style: solid;
      border-width: 20px 20px 0 0;
      border-color: #fff transparent;
    }
  }
}
.client-person {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  @include respond-to(mob) {
    margin-left: 125px;
    line-height: 100px;
  }
  strong {
    display: block;
  }
}
.client-person-in {
  @include respond-to(mob) {
    display: inline-block;
    vertical-align: middle;
    line-height: 21px;
  }
}

.clients_in {
  .clients-splash {
    background: image-url("bg_clients_in.jpg");
    height: 700px;
    @include respond-to(mob) {
      height: auto;
      padding: 30px 0 35px;
    }
  }
  .clients-splash-title {
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 53px;
    @include respond-to(mob) {
      @include typo(32px, 39px, 500);
      margin: 0;
    }
  }
  .clients-list-wrapper {
    position: absolute;
    bottom: 215px;
    overflow: visible;
    width: 100%;
    @include respond-to(mob) {
      position: static;
      overflow: hidden;
    }
  }
  .clients-list {
    width: 100%;
    @include respond-to(mob) {
      width: 10000%;
    }
  }
  .clients-nav {
    display: none;
  }
  .client {
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 100%;
    opacity: 0;
    z-index: 0;
    transition: opacity $d*2 $e 0;
    @include respond-to(mob) {
      position: static;
      display: block;
      float: left;
      opacity: 1;
      width: 1%;
    }
    &.is__active {
      opacity: 1;
      z-index: 10;
      transition-delay: 0;
    }
    .holder {
      position: relative;
      padding: 30px 240px 30px 55px;
      background: #fff;
      @include respond-to(tab) {
        padding-right: 55px;
      }
      @include respond-to(mob) {
        padding: 0;
        margin: 0;
        background: none;
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 100%;
        border-width: 50px 35px 0 0;
        border-style: solid;
        border-color: #fff transparent;
        @include respond-to(mob) {
          display: none;
        }
      }
    }
  }
  .client-feedback {
    margin-right: 0;
    @include respond-to(mob) {
      padding: 25px 10px;
      margin: 0 0 34px;
    }
  }
  .client-logo {
    top: auto;
    bottom: 30px;
    background: none;
    border-radius: 0;
    overflow: visible;
    line-height: normal;
    width: auto;
    @include respond-to(mob) {
      background: #e0ddd8;
      border-radius: 50%;
      text-align: center;
      width: 100px;
      height: 100px;
      line-height: 100px;
      position: static;
      float: left;
      margin-left: 7px;
    }
  }
}


.buttons {
  margin: 45px 0;
  text-align: center;
  .button {
    margin: 0 10px 20px;
  }
}
