.contact-phone {
  background: #e9e3dc;
  padding: 70px 0;
  @include respond-to(mob) {
    padding: 40px 0;
    text-align: center;
  }
  .holder {
    width: 800px;
    @include respond-to(840px) {
      width: auto;
    }
  }
}
.contact-phone-main {
  float: left;
  width: 480px;
  margin-right: 80px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  @include respond-to(mob) {
    width: auto;
    margin: 0 0 15px;
    float: none;
  }
  .phone {
    margin: -5px 0 20px;
    @include typo(53px, 61px, 500);
    color: $colorMain;
    display: block;
    @include respond-to(mob) {
      font-size: 32px;
      line-height: 1em;
      margin: 0 0 15px;
    }
  }
}
.contact-phone-side {
  @include typo(16px, 22px, 100);
  overflow: hidden;
}

.search {
  margin-bottom: 65px;
  .holder {
    width: 800px;
    @include respond-to(840px) {
      width: auto;
    }
  }
  h1 {
    @include typo(29px, 38px, 700);
    color: #000;
    text-align: center;
  }
}
.searchbox {
  margin-bottom: 55px;
  @include respond-to(mob) {
    text-align: center;
  }
  .form-input {
    width: 620px;
    @include respond-to(mob) {
      width: 100%;
      margin-bottom: 17px;
    }
  }
  .button {
    float: right;
    width: 160px;
    @include respond-to(mob) {
      float: none;
    }
  }
}

.result {
  margin-bottom: 30px;
}
.result-title {
  @include typo(28px, 36px, 700);
  @include respond-to(mob) {
   font-size: 16px;
  }
}
.result-link {
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent #82807f;
  }
  .result.is__active &:after {
    transform: rotate(90deg);
  }
}
.result-image {
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  line-height: 40px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-right: .5em;
  img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
  }
}
.result-body {
  display: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 100;
  .result.is__active & {
    display: block;
  }
  strong {
    font-weight: 300;
  }
  h3 {
    font-size: 1em;
    margin-bottom: .25em;
  }
}

.contact {
  margin-bottom: 100px;
}
.contact-map {
  overflow: hidden;
  height: 410px;
  position: relative;
}
.contact-map-in {
  height: 100%;
}
.contact-city {
  font-weight: 700;
  text-align: center;
  overflow: hidden;
}
.contact-city-in {
  @include lines(#e1ddd9, 30px)
}
.contact-info {
  @include typo(21px, 31px, 500);
  @include clear;
  @include respond-to(mob) {
    text-align: center;
  }
  p {
    margin-bottom: 1em;
  }
}
.contact-address {
  float: left;
  width: 540px;
  @include respond-to(tab) {
    float: none;
    width: auto;
  }
}
.contact-connect {
  float: right;
  width: 220px;
  @include respond-to(tab) {
    float: none;
    width: auto;
    margin-bottom: 20px;
  }
  .button {
    display: block;
    margin: 1em auto 0;
    max-width: 210px;
  }
}
.contact-ways {
  word-spacing: -4px;
  margin: 0 -10px;
}
.contact-way {
  display: inline-block;
  vertical-align: top;
  word-spacing: 0;
  width: 460px;
  margin: 0 10px;
  @include typo(18px, 24px);
  @include respond-to(940px) {
    display: block;
    width: auto;
  }
  h2 {
    font-size: 1em;
    font-weight: 500;
  }
  p {
    margin-bottom: 1em;
  }
}


.socials {
  background: #dfdad3;
  text-align: center;
  word-spacing: -4px;
  @include respond-to(mob) {
    display: none;
  }
}
.social-item {
  display: inline-block;
  vertical-align: top;
  width: 185px;
  height: 185px;
  line-height: 185px;
  text-align: center;
  transition: background $d $e;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
  }
  &:hover {
    background: $colorMain;
  }
}
.social-item_vk { background: #e5e1dc; &:after { @include sbgs(s_b_vk); }}
.social-item_fb { background: #dfdad3; &:after { @include sbgs(s_b_fb); }}
.social-item_tw { background: #d6d1cb; &:after { @include sbgs(s_b_tw); }}
