.feedback {
  @include clear;
  background: #e9e3dc;
  padding-bottom: 80px;
  .holder {
    width: 460px;
  }
  .form-in {
    width: 220px;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.feedback-title {
  text-align: center;
}
.feedback-lead {
  @include typo(18px, 25px, 500);
  text-align: center;
  margin-bottom: 30px;
}
.feedback-phone {
  display: block;
  font-weight: 700;
  color: $colorMain;
}
