.footer {
  padding-top: 40px;
  border-top: 1px solid #d8d5d1;
  .holder {
    @include respond-to(tab) {
      margin: 0 10px;
      width: auto;
    }
    @include respond-to(mob) {
      margin: 0;
    }
  }
}
.footer-additional {
  h3 {
    font-weight: 500;
    font-size: 1em;
    line-height: 1.3;
    text-transform: uppercase;
  }
  .holder {
    word-spacing: -4px;
    @include respond-to(1024px) {
      margin: 0 20px;
      width: auto;
    }
    @include respond-to(mob) {
      margin: 0;
    }
  }
}
.footer-col {
  display: inline-block;
  vertical-align: top;
  word-spacing: 0;
  @include respond-to(mob) {
    text-align: center;
    display: block;
    width: 100% !important;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #c4c2be;
  }
}
.footer-videos {
  width: 30%;
  margin-right: 2%;
}
.footer-phones {
  width: 25%;
  margin-right: 6%;
}
.footer-mailing {
  width: 37%;
}
.footer-videos-list {
  margin-bottom: 1em;
  line-height: 1.4;
  li {
    margin-bottom: .5em;
  }
}
.footer-phone {
  font-size: 26px;
  font-weight: 100;
  color: $colorMain;
}
.mailing {

}
.mailing-input {
  height: 33px;
  border: 1px solid #c9c6c2;
  padding: 0 10px;
  margin-bottom: 10px;
  @include placeholder {
    font-style: italic;
    color: #868686;
  }
}
.mailing-button {
  height: 33px;
  border: 1px solid $colorMain;
  border-radius: 2px;
  background: none;
  color: $colorMain;
  vertical-align: top;
  font-weight: 500;
  padding: 0 16px;
}
.mailing-desc {
  margin-top: 10px;
  font-size: 12px;
  line-height: 20px;
  color: $colorPale;
}


.footer-links {
  margin-top: 45px;
  border: solid #d9d7d2;
  border-width: 1px 0;
  font-size: 21px;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
  @include respond-to(mob) {
    border-top: 0;
    margin: 0;
    line-height: 37px;
    padding-bottom: 20px;
  }
}
.footer-link {
  margin: 0 5%;
  color: $colorMain;
  @include respond-to(tab) {

  }
  @include respond-to(mob) {
    display: block;
  }
}

.footer-bottom {
  background: $colorMain;
  color: #fff;
  line-height: 67px;
  @include clear;
  text-align: center;

  @include respond-to(740px) {
    font-size: 11px;
  }
  @include respond-to(mob) {
    line-height: normal;
    font-size: 1em;
  }
}
.footer-copy {
  position: relative;
  float: left;
  font-weight: 500;
  @include respond-to(mob) {
    float: none;
    margin: 1em 0;
  }
}
.footer-devby {
  position: relative;
  float: right;
  @include respond-to(mob) {
    float: none;
    margin: 1em 0 2em;
  }
  a {
    color: #fff;
    font-weight: bold;
  }
}

.footer-social {
  position: absolute;
  left: 0;
  right: 0;
  word-spacing: -4px;
  @include respond-to(mob) {
    position: relative;
    margin-bottom: 2em;
  }
}
.fsocial-item {
  word-spacing: 0;
  display: inline-block;
  line-height: 67px;
  width: 67px;
  vertical-align: top;
  text-align: center;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
  }
  @include respond-to(mob) {
    width: 80px;
    line-height: 80px;
  }
}

.fsocial-item_fb { background: #fc4c50; &:after { @include sbgs(s_fb); } }
.fsocial-item_tw { background: #fc393d; &:after { @include sbgs(s_tw); } }
.fsocial-item_vk { background: #e23337; &:after { @include sbgs(s_vk); } }
.fsocial-item_yt { background: #da2d32; &:after { @include sbgs(s_yt); } }
