.form {

}
.form-row {
  margin-bottom: 15px;
  @include respond-to(mob) {
    text-align: center;
  }
}
.form-row_button {
  margin-top: 43px;
  text-align: center;
}
.form-in {
  display: inline-block;
  vertical-align: top;
  @include respond-to(mob) {
    display: block;
    width: auto !important;
    margin-bottom: 15px;
    margin-right: 0 !important;
  }
}
.form-label {
  display: block;
  margin-bottom: 9px;
}
.form-input {
  border: 1px solid #d2cdc7;
  height: 41px;
  padding: 0 10px;
  background: #f1ede9;
  outline: 0;
  width: 100%;
  // &:focus {
  //   border-color: $colorMain;
  // }
}
textarea.form-input {
  height: 132px;
  padding: 5px 10px;
}
