.header {
  // margin: 0;
  background: #fff;
  padding: 24px 0 40px;
  @include clear;
  @include respond-to(mob) {
    position: relative;
    padding: 15px 0 20px;
    background: #ede8e2;
    height: 70px;
  }
}
.menu-link {
  display: none;
  @include respond-to(mob) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    line-height: 70px;
    border-left: 1px solid #d1ccc6;
    text-align: center;
    &:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      @include sbgs(menu);
    }
  }
}
.menu {
  font-weight: 700;
  text-transform: uppercase;
  margin: auto;
  position: relative;
  max-width: 1100px;
  @include respond-to(1140px) {
    margin: 0 20px;
  }
  @include respond-to(900px) {
    font-size: 12px;
  }
  @include respond-to(720px) {
    font-size: 10px;
  }
  @include respond-to(mob) {
    // opacity: 0;
    // transform: translateX(-100%);
    padding-top: 45px;
    position: absolute;
    top: 70px;
    width: 100%;
    margin: 0 0 0 -100%;
    z-index: 20;
    background: #ebe6e0;
    font-size: 18px;
    transition: all $d $e;
    &.is__active {
      margin-left: 0;
      // transform: translateX(0);
      left: 0;
      opacity: 1;
    }
  }
}
.menu-block {
  // width: 392px;
  text-align: justify;
  position: absolute;
  top: 38px;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  @include respond-to(pre) {
    top: 17px;
  }
  @include respond-to(mob) {
    position: static;
    margin: 0 !important;
    &:after {
      content: normal;
    }
  }
}
.menu-block_left {
  left: 0;
  right: 50%;
  margin-right: 150px;
  @include respond-to(tab) {
    margin-right: 120px;
  }
  @include respond-to(pre) {
    margin-right: 80px;
  }
}
.menu-block_right {
  right: 0;
  left: 50%;
  margin-left: 150px;
  @include respond-to(tab) {
    margin-left: 120px;
  }
  @include respond-to(pre) {
    margin-left: 80px;
  }
}
.menu-item {
  display: inline-block;
  color: #000;
  overflow: hidden;
  height: 1em;
  line-height: 1;
  &.is__active {
    color: $colorMain;
  }
  @include respond-to(mob) {
    display: block;
    text-align: center;
    line-height: 68px;
    height: auto;
    .menu-block:nth-child(1) &:nth-child(2) { background: #f0ebe7;}
    .menu-block:nth-child(1) &:nth-child(3) { background: #f4f1ee;}
    .menu-block:nth-child(2) &:nth-child(1) { background: #f8f7f5;}
    .menu-block:nth-child(2) &:nth-child(2) { background: #fdfcfb;}
  }
}
.menu-item-in {
  display: block;
  transition: margin $d $e;
  color: #000;
  &:after {
    content: attr(title);
    display: block;
    color: $colorMain;
  }
  .menu-item:hover &,
  .menu-item.is__active & {
    margin-top: -1em;
  }
  @include respond-to(mob) {
    margin: 0 !important;
    &:after {
      content: normal;
    }
  }
}
.menu-item_phone {
  color: $colorMain;
  @include respond-to(mob) {
    background: #e9e3dc;
    line-height: 43px;
    text-align: left;
    padding-left: 20px;
    border: solid #d1ccc6;
    border-width: 1px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}
.logo {
  display: block;
  @include sbgs(logo);
  text-indent: -1000em;
  margin: auto;
  @include respond-to(pre) {
    @include sbgs(logo_small)
  }
  @include respond-to(mob) {
    float: left;
    margin-left: 14px;
  }
}


.links {
  position: fixed;
  right: 18px;
  // top: 50%;
  // margin-top: -44px;
  bottom: 18px;
  z-index: 50;
  padding-top: 7px;
  @include respond-to(mob) {
    position: static;
    margin: 0;
    float: right;
    margin-right: 100px;
  }
  a {
    @include respond-to(mob) {
      display: inline-block;
      vertical-align: top;
    }
  }
}
.links-cart {
  display: block;
  @include sbgs(case);
  padding-top: 6px;
  line-height: 33px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 10px;
  @include respond-to(mob) {
    @include sbgs(case_m);
    font-size: 11px;
    padding-top: 5px;
    line-height: 23px;
    margin-right: 20px;
  }
}
.links-feedback {
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 33px;
  padding-left: 1px;
  @include sbgs(bubble);
  @include respond-to(mob) {
    @include sbgs(bubble_m);
    font-size: 11px;
    line-height: 23px;
    margin-top: 4px;
  }
}


.lang {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 18px;
  }
}
.lang_ru { &:before { @include bgs(lang_ru); }}
.lang_en { &:before { @include bgs(lang_en); }}

.langs-current {
  display: block;
  position: relative;
  .lang {
    // text-indent: -1000em;
  }
  &:after {
    position: absolute;
    content: '';
    @include sbgs(lang_arr);
    top: 8px;
    right: 8px;
    transition: transform $d $e;
  }
  .langs.is__active &:after {
    transform: rotate(180deg);
  }
}
.langs-list {
  position: absolute;
  display: none;
  background: #e6e6e6;
  width: 100%;
  font-size: 11px;
  .lang {
    margin: 3px 0;
    line-height: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    &:before {
      margin-right: 5px;
    }
  }
  .langs.is__active & {
    display: block;
  }
}
.langs {
  position: absolute;
  right: 10px;
  top: 59px;
  background: #e6e6e6;
  border: 1px solid #e6e6e6;
  width: 50px;
  z-index: 10;
  @include respond-to(tab) {
    top: 57px;
  }
  @include respond-to(pre) {
    top: 36px;
  }
  @include respond-to(mob) {
    display: none;
    top: 13px;
  }
  .menu & {
    display: none;
    @include respond-to(mob) {
      display: block;
    }
  }
}
