.splash {
  position: relative;
  color: #fff;
  text-align: center;
  height: 425px;
  overflow: hidden;
  @include respond-to(mob) {
    height: auto;
  }
  .holder {
    width: 590px;
  }
  .button {
    border-color: $colorAlt;
    color: $colorAlt;
    font-weight: 700;
    &:before {
      z-index: 1;
      background: $colorAlt;
    }
    &:hover,
    &:active {
      color: $colorMain;
    }
    @include respond-to(mob) {
      display: none;
    }
  }
}
.splash-slider-container {
  // background: #ff4137 image-url("bg_splash.jpg") 50% 0% no-repeat;
}
.splash-slider-list {
  transition: margin .6s cubic-bezier(0.445, 0.05, 0.55, 0.95);;
  // background: $colorMain;
  @include clear();
  @include respond-to(mob) {
    width: 10000%;
    margin-top: 0 !important;
  }
  @include respond-to(amob) {
    margin-left: 0 !important;
  }
}
.splash-slider-item {
  @include clear;
  height: 425px;
  transition: transform .2s;
  background-color: $colorMain;
  background-position: 50% 0;
  background-repeat: no-repeat;
  @include respond-to(mob) {
    background-image: none;
    height: auto;
    padding-bottom: 40px;
    width: 1%;
    float: left;
  }
  .is__sliding-top & {
    transform: translateY(-100%);
    &.is__active {
      transform: translateY(0)
    }
  }
  &.is__active {
    transform: translateY(0);
  }
}
// .splash-slider-item_1 {
//   background-image: image-url("bg_splash-1.jpg");
//   background-color: #ff4137;
// }
// .splash-slider-item_2 {
//   background-image: image-url("bg_splash-2.jpg");
//   background-color: #1db5bf;
// }
// .splash-slider-item_3 {
//   $cAlt: #1db5bf;
//   background-image: image-url("bg_splash-3.jpg");
//   background-color: #f4e27e;
//   color: $cAlt;
//   .splash-title {
//     color: $cAlt;
//     &:after { background: $cAlt;}
//   }
//   .button {
//     border-color: $cAlt;
//     color: $cAlt;
//     &:before {
//       background: $cAlt;
//     }
//     &:hover {
//       color: #f3e27e;
//     }
//   }
// }
.splash-slider-dots-box {
  position: absolute;
  top: 0;
  right: 17px;
  line-height: 425px;
  @include respond-to(mob) {
    top: auto;
    left: 0; right: 0;
    bottom: 34px;
    text-align: center;
    line-height: 1;
  }
}
.splash-slider-dots {
  display: inline-block;
  vertical-align: middle;
  width: 33px;
  background: rgba(0,0,0,.5);
  padding: 12px 0;
  border-radius: 16px;
  line-height: 23px;
  @include respond-to(mob) {
    width: auto;
    padding: 0 15px;
  }
}
.splash-slider-dot-item {
  display: block;
  width: 10px;
  height: 10px;
  margin: 10px auto;
  background: #fff;
  border-radius: 50%;
  text-indent: -1000em;
  @include respond-to(mob) {
    display: inline-block;
    margin: 0 3px;
    width: 5px;
    height: 5px;
    vertical-align: middle;
  }
  &.is__active {
    background: $colorMain;
  }
}
.splash-icon {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  overflow: hidden;
  margin: 30px auto;
  display: none;
  @include respond-to(mob) {
    display: block;
    margin-bottom: 20px;
  }
  img {
    display: block;
  }
}
.splash-title {
  color: $colorAlt;
  font-weight: 100;
  font-size: 48px;
  line-height: 51px;
  margin: 46px 0 30px;
  @include respond-to(mob) {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 27px;
  }
  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 1px;
    background: $colorAlt;
    margin: 35px auto;
    @include respond-to(mob) {
      margin: 27px auto 0;
    }
  }
}
.splash-desc {
  width: 480px;
  margin: 35px auto;
  font-size: 16px;
  line-height: 25px;
  @include respond-to(mob) {
    width: auto;
    font-size: 18px;
    margin: 27px 0 40px;
  }
}

.event {
  // line-height: 66px;
  border: 1px solid #ddd7d1;
  font-size: 16px;
  background: #eae3dd;
  a {
    color: $colorMain;
  }
  .holder {
    @include respond-to(tab) {
      width: 100%;
    }
    @include respond-to(mob) {
      margin: 0;
    }
  }
}
.event-table {
  @include respond-to(mob) {
    background: #f4f1ee;
  }
  td {
    padding: 20px 15px;
    line-height: 23px;
  }
  a {
    white-space: nowrap;
  }
}
.event-date {
  background: #f4f1ee;
  padding: 0 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  @include respond-to(mob) {
    border-right: 1px solid #ece9e7;
  }
}

.sols {
  text-align: center;
  background: #eae3dd;
  overflow: hidden;
}
.sols-title {
  font-size: 44px;
  line-height: 51px;
  font-weight: 100;
  margin-top: 54px;
  margin-bottom: 27px;
  color: $colorMain;
  @include respond-to(mob) {
    font-size: 32px;
    line-height: 39px;
  }
}
.sols-desc {
  font-size: 18px;
  line-height: 25px;
  width: 540px;
  margin: auto;
  @include respond-to(mob) {
    width: auto;
  }
}
.sols-list {
  word-spacing: -4px;
  margin: 60px 0;
}
.sol {
  display: inline-block;
  vertical-align: top;
  width: 317px;
  height: 339px;
  word-spacing: 0;
  margin: 1px;
  background: #efefef;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  color: #000;
  padding: 70px 20px 0;
  max-width: 100%;
  @include respond-to(mob) {
    margin-bottom: 10px;
  }
}
.sol-icon {
  display: block;
  width: 105px;
  height: 121px;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  line-height: 121px;
  transition: transform .2s;
  img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 60px;
    background: #d7d7d7;
    top: 60px;
    transition: all .2s;
  }
  &:before {
    right: 100%;
    margin-right: 26px;
  }
  &:after {
    left: 100%;
    margin-left: 26px;
  }
  .sol:hover & {
    transform: scale(1.05);
    &:before,
    &:after {
      background: $colorMain;
      opacity: .5;
    }
  }
}

.facts {
  text-align: center;
  &:before {
    content: '';
    display: block;
    height: 1px;
    background: #d8d5d1;
    margin: 30px 70px 60px;
  }
  @include respond-to(tab) {
    .holder {
      width: auto;
      margin: 0 20px;
    }
  }
}
.facts-title {
  font-size: 44px;
  margin-bottom: 27px;
  @include respond-to(mob) {
    font-size: 32px;
    line-height: 38px;
  }
}
.facts-desc {
  font-size: 18px;
  line-height: 25px;
  width: 560px;
  margin: 0 auto 30px;
  @include respond-to(mob) {
    width: auto;
  }
}
.facts-list {
  word-spacing: -4px;
  margin-top: 63px;
}
.fact {
  word-spacing: 0;
  display: inline-block;
  vertical-align: top;
  width: 238px;
  margin-right: 20px;
  margin-left: 60px;
  margin-bottom: 50px;
  font-size: 16px;
  text-align: left;
  color: $colorPale;
  @include respond-to(tab) {
    margin: 0 25px 40px;
  }
  @include respond-to(mob) {
    width: 100%;
    display: block;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
}
.fact-title {
  font-size: 28px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 14px;
  strong {
    font-weight: inherit;
    color: $colorMain;
    font-size: 36px;
    display: block;
    margin-bottom: 6px;
    &.fact-digit {
      font-size: 44px;
    }
  }
}
.fact-desc {
  margin-bottom: 20px;
}



.section_clients {
  background: image-url('bg_company.png') no-repeat 47% 490px;
}

.total {
  position: relative;
  overflow: hidden;
}
.total-old {
  transition: 1;
  .total.is__updated & {
    opacity: 0;
    transition: all $d*2 $e;
  }
}
.total-new {
  position: absolute;
  top: 6; left: 0; bottom: 0; right: 0;
  line-height: 33px;
  opacity: 0;
  transform: scale(3);
  .total.is__updated & {
    opacity: 1;
    transform: scale(1);
    transition: all $d*2 $e;
  }
}
