.item-header {
  text-align: center;
  @include typo(18px, 24px);
  width: 620px;
  margin: auto;
  @include respond-to(mob) {
    width: auto;
  }
  h1 {
    color: #000;
    margin: 57px 0 40px;
    font-size: 53px;
    font-weight: 300;
  }
}
.item-image {
  text-align: center;
  margin: 60px 0 70px;
}
.item-calc {
  width: 455px;
  margin: 70px auto 80px;
  @include clear;
  text-align: center;
  @include respond-to(mob) {
    margin: 40px 0;
    width: auto;
  }
}
.item-button {
  float: right;
  @include respond-to(mob) {
    float: none;
  }
}
.item-price {
  float: left;
  @include typo(32px, 1, 500);
  color: $colorMain;
  margin-bottom: 25px;
  @include respond-to(mob) {
    float: none;
  }
}
.item-price-add {
  @include typo(12px, 15px, 100);
  opacity: .7;
  color: #000;
  display: block;
  margin-top: 4px;
}

.item-sec {
  padding: 0 155px;
  @include typo(18px, 24px);
  @include respond-to(980px) {

  }
  @include respond-to(mob) {
    padding: 0;
  }
  p {
    margin: 1em 0;
  }
  .slider {
    margin: 50px -175px;
    @include respond-to(mob) {
      margin: 30px -10px;
    }
  }
  .slider-item-desc {
    margin-top: 25px;
  }
  .slider-nav-item_prev {
    left: 40px;
    @include respond-to(mob) {
      left: auto;
    }
  }
  .slider-nav-item_next {
    right: 40px;
    @include respond-to(mob) {
      right: 13px;
    }
  }
}
.item-sec-title {
  text-align: center;
  color: #000;
  font-weight: 300;
  margin-bottom: 28px;
}
.item-sec-title-pre {
  @include typo(16px, 26px, 700);
  display: block;
  margin-bottom: -5px;
}

.item-advs {
  text-align: center;
  @include typo(16px, 24px);
  h1 {
    color: #000;
  }
}
.item-advs-col {
  width: 355px;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px;
  text-align: left;
}
.item-adv {
  margin-bottom: 50px;
  &:before {
    position: absolute;
    content: '— ';
    margin-left: -30px;
    color: $colorMain;
  }
  a {
    color: $colorMain;
  }
}
