.scr_job {
  .scr-header {
    font-size: 44px;
    line-height: 54px;
  }
}
.job-about {
  font-size: 18px;
  line-height: 24px;
  .holder {
    @include respond-to(860px) {
      padding: 0 20px;
      width: auto;
    }
    width: 820px;
  }
}

.offers {
  padding: 30px 0 80px;
  background: #eae3dd;
  text-align: center;
  word-spacing: -4px;
}
.offers-city {
  @include respond-to(mob) {
    width: auto;
    text-align: center;
  }
  display: inline-block;
  margin: 0 50px;
  width: 380px;
  vertical-align: top;
  text-align: left;
  word-spacing: 0;
  h2 {
    @include typo(40px, 1, 700);
    margin-bottom: 45px;
    color: $colorMain;
  }
  .button {
    margin-top: 23px;
  }
}
.offers-list {
  @include typo(22px, 26px);
  li {
    margin: 26px 0;
  }
}

.reviews {
  padding-bottom: 40px;
}
.reviews-title {
  text-align: center;
  font-weight: 700;
}
.review {
  position: relative;
  padding: 30px 60px;
  min-height: 250px;
  background: #fff;
}
.review-image {
  float: left;
  overflow: hidden;
  width: 173px;
  height: 173px;
  border-radius: 50%;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
.review-body {
  @include typo(22px, 29px);
  margin-left: 230px;
}
.review-author {
  @include typo(16px, 21px, 500);
  margin-top: 30px;
  strong {
    display: block;
    font-weight: 700;
  }
}
