.logos {
  text-align: center;
  width: 870px;
  @include respond-to(910px) {
    width: auto;
    margin: 0 20px;
  }
  h1 {
    margin-bottom: 60px;
  }
}
.logos-list {
  word-spacing: -4px;
}
.logos-item {
  word-spacing: 0;
  display: inline-block;
  width: 220px;
  height: 220px;
  line-height: 220px;
  margin: 0 35px 90px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
  }
}

.pager {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}
.pager-item {
  &.is__active {
    color: $colorMain;
  }
}
