.lr-list {
  margin: 65px 0;
}
.lr {
  position: relative;
  min-height: 255px;
  padding-right: 320px;
  margin-bottom: 100px;
  @include typo(18px, 24px);
  &:nth-child(2n) {
    padding-right: 0;
    padding-left: 320px;
  }
  @include respond-to(mob) {
    padding: 0 !important;
    text-align: center;
  }
}
.lr-image {
  position: absolute;
  right: 0;
  width: 255px;
  height: 255px;
  border-radius: 50%;
  overflow: hidden;
  .lr:nth-child(2n) & {
    right: 0;
    left: 0;
  }
  @include respond-to(mob) {
    position: static !important;
    display: block;
    margin: 0 auto 20px;
  }
}
.lr-title {
  @include typo(29px, 38px);
}
.lr-desc {
  @include typo(18px, 24px);
  margin: 40px 0;
}
