.mfp-container {
  padding: 0;
}
.mfp-bg {
  opacity: 0;
  transition: opacity $d $e;
  &.mfp-ready {
    opacity: .5;
  }
  &.mfp-removing {
    opacity: 0;
  }
}
.mfp-content {
  opacity: 0;
  transform: translateY(-100px);
  transition: all $d $e;
  .mfp-wrap.mfp-ready & {
    opacity: 1;
    transform: translateY(0);
  }
  .mfp-wrap.mfp-removing & {
    opacity: 0;
    transform: translateY(100px);
  }
}

button.mfp-close {
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
  color: #000;
  text-align: center;
  line-height: 40px;
  transition: all $d $e;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    @include sbgs(cross);
    margin-top: -2px;
  }
  &:hover {
    background: $colorMain;
    color: $colorMain;
  }
}


.popup {
  background: #e9e3dc;
  padding: 20px;
  margin: 40px auto;
  box-shadow: 0 5px 20px 0 rgba(0,0,0,.3);
  width: 980px;
  overflow: hidden;
  @include respond-to(980px) {
    width: 100%;
    margin: 70px 0;
    padding: 10px;
  }
}
