.product {
  display: inline-block;
  vertical-align: top;
  width: 30.333%;
  margin: 0 1% 20px;
  @include respond-to(mob) {
    display: block;
    width: auto;
    margin: 0 auto 20px;
    max-width: 400px;
  }
}
.product_bordered {
  border: 1px solid #dddad6;
  background: #eeece9;
  min-height: 270px;
}
.product_wicon {
  padding: 35px 20px;
  text-align: center;
  background: #e9e3dc;
}
.product-header {
  background: #f8f7f6;
  line-height: 62px;
  padding: 0 20px;
}
.product-icon {
  margin-bottom: 28px;
}
.product-title {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 4px;
}
.product-desc {
  font-size: 14px;
  line-height: 18px;
  .product_bordered & {
    padding: 10px 20px;
    @include typo(18px, 24px, 100);
  }
}
.product-price {
  font-size: 16px;
  color: $colorMain;
  .product_wicon & {
    margin-top: 20px;
  }
  .product_bordered & {
    float: right;
    font-size: 18px;
  }
}

.product-order {
  width: 200px;
  margin: 25px auto 0;
  line-height: 49px;
}
.product-button {
  background: #f6f4f1;
  display: block;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  .product-order.is__active & {
    display: none;
  }
}
.product-calc {
  font-weight: 100;
  font-size: 18px;
  display: none;
  .product-order.is__active & {
    display: block;
  }
  span,
  a {
    // box-sizing: border-box;
    float: left;
    width: 49px;
    height: 100%;
    margin-right: 1px;
    background: #f6f4f1;
    text-align: center;
  }
  .product-calc-check {
    background: #ea7a7b;
    width: 50px;
    margin-right: 0;
  }
}

.product-calc-check {
  margin-top: -1px;
  height: 51px;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  line-height: 51px;
  text-align: center;
  overflow: hidden;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    @include sbgs(check);
    margin-top: 20px;
    opacity: 0;
    transition: opacity $d/2 $e, margin-top 0 $e $d/2;
  }
  .product-order.is__updated & {
    &:after {
      margin-top: 0;
      opacity: 1;
      transition: all $d/2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
}
.product-calc-change {
  font-size: 26px;
  cursor: pointer;
}
// .prod-loadmore {
//   padding-bottom: 30px;
//   text-align: center;
// }
