.quote {
  color: #4a2f27;
  @include typo(22px, 32px, 500);
  padding: 0 40px;
  margin: 2em 0;
  @include respond-to(mob) {
    @include typo(18px, 25px);
  }
  &:before,
  &:after {
    content: '';
    display: block;
    width: 180px;
    height: 1px;
    background: #c7c4c1;
    margin: 2em auto;
  }
}
.quote-image {
  float: left;
  width: 140px;
  height: 140px;
  line-height: 140px;
  margin-right: 40px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  @include respond-to(mob) {
    float: none;
    display: block;
    margin: 0 auto 20px;
  }
  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    max-height: 100%;
  }
}
.quote-body {
  overflow: hidden;
}
.quote-text {
  &:before { content: "«";}
  &:after { content: "»";}
}
.quote-author {
  @include typo(14px, 24px, 100);
  text-transform: uppercase;
  margin-top: 1em;
  &:before {
    content: '— ';
  }
  strong {
    font-weight: 500;
  }
}
