.reco-brand {
  width: 220px;
  line-height: 220px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: 73px auto 50px;
  text-align: center;
  img {
    vertical-align: middle;
    max-width: 100%;
  }
}
.reco-title {
  font-size: 44px;
  text-align: center;
  color: $colorMain;
}
.reco {
  h2 {
    font-weight: 500;
    font-size: 18px;
  }
  em {
    font-variant: small-caps;
    font-style: normal;
    font-weight: 500;
  }
}
