.scr {
  position: relative;
  height: 573px;
  line-height: 573px;
  background-size: cover;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 6px rgba(0,0,0,.2);
  font-size: 16px;
  background-image: image-url('bg_about.jpg');
}
.scr-in {
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}
.scr-header {
  margin-top: 0;
  font-size: 64px;
  line-height: 77px;
  font-weight: bold;
  color: #fff;
  padding: 0 20px;
}
.scr-play {
  width: 133px;
  height: 133px;
  background: #fff;
  border-radius: 50%;
  display: inline-block;
  line-height: 133px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0,0,0,.17);
  margin-bottom: 30px;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    @include sbgs(play);
    margin-left: 10px;
  }
}
.scr-video {
  opacity: 0;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,.8);
  z-index: -1;
  transition: opacity $d $e;
  .scr.is__active & {
    opacity: 1;
    z-index: 10;
  }
}
.scr-video-box {
  width: 830px;
  margin: 50px auto;
  overflow: hidden;
  @include respond-to(830px) {
    width: auto;
  }
}
