.service-big {
  background: #e9e3dc;
  text-align: center;
  @include typo(18px, 24px);
  padding-bottom: 48px;
  margin-bottom: 60px;
  .holder {
    width: 740px;
  }
  h1 {
    margin: 45px 0 42px;
    @include typo(28px, 30px, 700);
    color: #000;
  }
}
