.slider {
  margin: 40px 0;
  position: relative;
  @include respond-to(mob) {
    margin: 20px -10px;
  }
}
.slider-holder {
  overflow: hidden;
}
.slider-list {
  width: 100%;
  position: relative;
  white-space: nowrap;
  word-spacing: -4px;
  left: 0;
  transition: left .8s cubic-bezier(0.77, 0, 0.175, 1);
}
.slider-item {
  display: inline-block;
  word-spacing: 0;
  width: 100%;
  &.is__active {
    // display: block;
  }
}
.slider-item-img {
  display: block;
  max-width: 100%;
  margin: auto;
}
.slider-item-desc {
  font-size: 16px;
  line-height: 22px;
  padding: 24px 15px;
  text-align: center;
  background: #fff;
  white-space: normal;
  @include respond-to(mob) {
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    padding: 16px;
    padding-right: 100px;
  }
}
.slider-nav {
  // position: relative;
}
.slider-nav-item {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  display: block;
  width: 40px;
  height: 40px;
  z-index: 10;
  transition: opacity $d $e;
  @include respond-to(mob) {
    width: 20px;
    height: 20px;
    bottom: 15px;
    top: auto;
    margin-top: 0;
  }
  &.is__disabled {
    opacity: .2;
    cursor: default;
  }
}
.slider-nav-item_prev {
  @include bgs(slider_left);
  left: -146px;
  @include respond-to(1100px) {
    left: -75px;
  }
  @include respond-to(tab) {
    left: 10px;
  }
  @include respond-to(mob) {
    right: 44px;
    left: auto;
    @include bgs(slider_left_m);
  }
}
.slider-nav-item_next {
  @include bgs(slider_right);
  right: -146px;
  @include respond-to(1100px) {
    right: -75px;
  }
  @include respond-to(tab) {
    right: 10px;
  }
  @include respond-to(mob) {
    right: 13px;
    @include bgs(slider_right_m);
  }
}
