.smain {
  overflow: hidden;
  text-align: center;
  background: #e3ddd5;
  @include typo(22px, 32px, 100);
  @include respond-to(mob) {
    @include typo(18px, 25px);
  }
  h1 {
    @include typo(60px, 63px, 700);
    color: $colorMain;
    @include respond-to(mob) {
      font-size: 32px;
      line-height: 38px;
      margin: 30px 0;
    }
  }
}
.smain-menu {
  position: relative;
  background: image-url('bg_solmenu.jpg') no-repeat;
  width: 910px;
  height: 738px;
  margin: 37px auto 0;
  @include respond-to(mob) {
    // transform: scale(.5);
  }
}
.smain-menu-link {
  @include typo(16px, 48px, 500);
  @include sbgs(baloon_l);
  position: absolute;
  text-align: center;
}
.smain-menu-link_1 { top: 82px; left: 535px;}
.smain-menu-link_2 { top: 196px; left: 776px;}
.smain-menu-link_3 { top: 245px; left: -60px; @include bgs(baloon_r);}

.solution {
  background: #f1ede9;
  &:nth-child(2n) {
    background: #f5f5f5;
  }
}
.solution-body {
  width: 780px;
  margin: auto;
  text-align: center;
  @include respond-to(820px) {
    width: auto;
    margin: 0 20px;
  }
  @include respond-to(mob) {
    width: auto;
    // padding: 0 10px;
    margin: 0 10px;
  }
}
.solution-num {
  position: relative;
  border: 2px solid $colorMain;
  border-radius: 50%;
  width: 26px;
  line-height: 22px;
  margin: 42px auto 0;
  color: $colorMain;
  font-size: 13px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    background: #fff;
    height: 1px;
    width: 170px;
    top: 12px;
  }
  &:before {
    right: 100%;
    margin-right: 20px;
  }
  &:after {
    left: 100%;
    margin-left: 20px;
  }
}
.solution-title {
  margin-top: 23px;
  font-size: 44px;
  font-weight: 100;
  color: $colorMain;
}
.solution-lead {
  font-size: 22px;
  line-height: 32px;
  font-weight: 100;
  @include respond-to(mob) {
    font-size: 18px;
    line-height: 25px;
  }
  strong {
    font-weight: 500;
    letter-spacing: .08em;
    font-variant: small-caps;
  }
}
.solution-desc {
  @include typo(19px, 26px, 100);
  text-align: left;
  margin-bottom: 50px;
  .quote {
    @include typo(19px, 26px);
  }
}

.solution-products {
  background: #e5e1dd;
  overflow: hidden;
  padding-bottom: 50px;
  .solution:nth-child(2n) & { background: #e9e9e9;}
  .product {
    min-height: 212px;
  }
  .holder {
    position: relative;
  }
}
.solution-products-title {
  text-align: center;
  font-size: 24px;
  line-height: 1.1;
  font-weight: 700;
  overflow: hidden;
  position: relative;
  margin: 47px 0;
}
.solution-products-title-in {
  position: relative;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    background: #f2f0ee;
    height: 1px;
    width: 1000em;
  }
  &:before { right: 100%; margin-right: 20px; }
  &:after { left: 100%; margin-left: 20px; }
}
.solution-products-list {
  transition: height $d $e;
  &.is__active {
    .loader {
      position: absolute;
      left: 0;
      right: 0;
      opacity: 0;
      transition: opacity $d $e;
    }
  }
}
.solution-products-more {
  position: absolute;
  left: -1000em;
  width: 100%;
  transition: opacity $d*2 $e $d;
  opacity: 0;
  .solution-products-list.is__active & {
    opacity: 1;
    left: 0;
  }
}

.solution-item-list {
  .holder {
    width: 820px;
  }
}
.solution-item {
  position: relative;
  min-height: 255px;
  padding-right: 320px;
  margin-bottom: 100px;
  &:nth-child(2n) {
    padding-right: 0;
    padding-left: 320px;
  }
}
.solution-item-image {
  position: absolute;
  right: 0;
  width: 255px;
  height: 255px;
  border-radius: 50%;
  overflow: hidden;
  .solution-item:nth-child(2n) & {
    float: left;
    right: 0;
    left: 0;
  }
}
.solution-item-title {
  @include typo(29px, 38px);
}
.solution-item-desc {
  @include typo(18px, 24px);
  margin: 40px 0;
}



.smain_list {
  padding-top: 50px;
  padding-bottom: 90px;
  @include respond-to(mob) {
    padding: 0 10px 20px;
  }
  .title {
    font-weight: 100;
  }
  .desc {
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
  }
}


.solutions-header {
  padding: 8px 0 100px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  text-align: center;
  background: #eae3dd;
  h1 {
    font-size: 48px;
    margin-bottom: 30px;
  }
}

.solutions-products {
  background: #eae3dd;
  padding-bottom: 30px;
  .product {
    background: #f1ede9;
  }
  h1 {
    color: #000;
    text-align: center;
  }
}
