.specials {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 20px;
  background: #eae3dd;
  &:before {
    background: #cdc7c1;
    content: '';
    display: block;
    margin: 0 25px 30px;
    height: 1px;
    @include respond-to(mob) {
      content: normal;
    }
  }
  @include respond-to(980px) {
    font-size: 14px;
  }
  @include respond-to(700px) {
    font-size: 12px;
  }
  @include respond-to(mob) {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  .holder {
    text-align: justify;
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
      @include respond-to(mob) {
        content: normal;
      }
    }
    @include respond-to(980px) {
      width: auto;
      margin: 0 20px;
    }
    @include respond-to(mob) {
      margin: 0;
      text-align: center;
    }
  }
}
.special {
  color: #000;
  display: inline-block;
  @include respond-to(mob) {
    display: block;
    width: 100%;
    line-height: 84px;
    text-align: center;
  }
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-top: -1px;
  }
}
.specials_grid {
  line-height: 148px;
  background: #ebe5df;
  margin: 0 0 30px;
  padding: 0;
  @include respond-to(mob) {
    line-height: 1;
  }
  &:before {
    content: normal;
  }
  .holder {
    letter-spacing: -4px;
    &:after {
      content: normal;
    }
  }
  .special {
    letter-spacing: 0;
    text-align: center;
    width: 33.333%;
    @include respond-to(mob) {
      width: 100%;
    }
  }
}
.specials_solution {
  line-height: 114px;
  background: #e9e3dc;
  margin: 0;
  padding: 0;
  @include respond-to(mob) {
    line-height: 1;
  }
  &:before {
    content: normal;
  }
  .holder {
    letter-spacing: -4px;
    &:after {
      content: normal;
    }
  }
  .special {
    letter-spacing: 0;
    text-align: center;
    width: 25%;
    @include respond-to(mob) {
      width: 100%;
    }
  }
}
.special_solution {
  @include respond-to(mob) { background: #ddd8d3;}
  &:before { @include bgs(icon_sol);}
}
.special_prices {
  @include respond-to(mob) { background: #e9e3dc;}
  &:before { @include bgs(icon_calc); }
}
.special_try {
  @include respond-to(mob) { background: #ede9e3;}
  &:before { @include bgs(icon_box); }
}
.special_request {
  @include respond-to(mob) { background: #f5f3f0;}
  &:before { @include bgs(icon_doc); }
}
.special_cost { background: #f4f1ed; &:before { @include bgs(icon_calc); }}
.special_where { background: #ede9e3; &:before { @include bgs(icon_geo); }}
.special_how { background: #e9e3dc; &:before { @include bgs(icon_re); }}
.special_pres { background: #e0dad3; &:before { @include bgs(icon_pres);}}
.special_docs { background: #efeae5; &:before { @include bgs(icon_docs); }}
.special_train { background: #ebe5df; &:before { @include bgs(icon_hat); }}
.special_cabinet { background: #e2dcd6; &:before { @include bgs(icon_key); }}
