$submenu-gutter_1: 25px;
$submenu-gutter_2: 20px;
$submenu-gutter_3: 15px;
.submenu-holder {
  height: 77px;
  @include respond-to(mob) {
    display: none;
  }
}
.submenu-box {
  border: solid #d4d1ce;
  border-width: 1px 0;
  overflow: hidden;
  background: #f2efea;
  &.is__sticked {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 50;
  }
}
.submenu {
  margin: 0 (- $submenu-gutter_1);
  font-size: 13px;
  // line-height: 18px;
  height: 75px;
  line-height: 75px;
  font-weight: 500;
  text-transform: none;
  text-align: justify;
  @include respond-to(1050px) {
    font-size: 12px;
    margin: 0 (- $submenu-gutter_2);
  }
  @include respond-to(tab) {
    font-size: 10px;
    margin: 0 (- $submenu-gutter_3);
  }
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
}
.submenu-item {
  // padding: 19px 0 20px;
  display: inline-block;
  padding: 0 $submenu-gutter_1;
  @include respond-to(1050px) { padding: 0 $submenu-gutter_2; }
  @include respond-to(tab) { padding: 0 $submenu-gutter_3; }
  &.is__active {
    text-transform: uppercase;
    color: $colorMain;
    font-weight: 700;
  }
  &.is__pale {
    background: #f8f6f4;
  }
}
.submenu-item-in {
  display: inline-block;
  vertical-align: middle;
  line-height: 18px;
}
