.docs {
  background: #e9e3dc;
  h1 {
    color: #000;
    text-align: center;
  }
}
.docs-list {
  word-spacing: -4px;
}
.doc {
  word-spacing: 0;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin: 0 10px 50px;
  @include typo(14px, 18px);
  @include respond-to(mob) {
    width: auto;
    display: block;
    margin: 0 0 25px;
  }
  li, h3 {
    margin: 4px 0;
  }
  h3 {
    font-size: 1em;
    @include respond-to(mob) {
      margin-top: 2em;
    }
  }
}
.doc-title {
  @include typo(22px, 28px, 500);
  a {
    color: $colorMain;
  }
}
.doc-more-link {
  display: inline-block;
  margin-top: 1em;
  font-weight: 700;
  color: #999794;
  font-size: 13px;
  .doc-body.is__active & {
    display: none;
  }
}
.doc-more {
  display: none;
  .doc-body.is__active & {
    display: block;
  }
}

.faqs {
  margin-bottom: 40px;
  .holder {
    width: 620px;
    @include respond-to(mob) {
      width: auto;
    }
  }
  h1 {
    color: #000;
    text-align: center;
  }
}
.faq {
  font-size: 18px;
  line-height: 24px;
  strong {
    font-variant: small-caps;
    font-weight: 700;
  }
}
.faq-title {
  font-size: 21px;
  line-height: 24px;
}

.searchbox_p {
  .form-input {
    width: 300px;
    background: #ffffff;
  }
  .button {
    float: none;
    margin-left: 10px;
  }
}
.searchbox-pre {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  @include typo(29px, 38px);
  @include respond-to(mob) {
    display: block;
    width: auto;
    margin-bottom: 30px;
  }
}
.searchbox-form {
  display: inline-block;
  vertical-align: middle;
  width: 49%;
  .button {
    width: 30%;
    min-width: 0;
    padding: 0;
    @include respond-to(mob) {
      width: auto;
      padding: 0 30px;
      margin: 0;
    }
  }
  .form-input {
    width: 60%;
    @include respond-to(mob) {
      width: 100%;
      margin-bottom: 25px;
    }
  }
}

.support-num {
  background: #e9e3dc;
  padding-bottom: 60px;
  @include respond-to(mob) {
    padding-bottom: 0;
  }
  h1 {
    font-weight: 500;
    text-align: center;
  }
}

.support-search {
  margin: 60px 0;
  @include respond-to(mob) {
    margin: 35px 0;
  }
  .search-results {
    width: 800px;
    margin: auto;
    @include respond-to(820px) {
      width: auto;
    }
  }
}

.support-phones {
  background: #e9e3dc;
  padding: 40px 0;
  @include respond-to(mob) {
    padding: 30px 0;
  }
  h1 {
    margin: 0;
    float: left;
    @include typo(53px, 61px);
    @include respond-to(mob) {
      float: none;
      width: auto;
      text-align: center;
      @include typo(32px, 38px);
      margin-bottom: 1em;
    }
  }
}
.support-phones-side {
  float: right;
  width: 220px;
  font-size: 25px;
  font-weight: 100;
  @include respond-to(mob) {
    width: auto;
    text-align: center;
    float: none;
  }
  h2 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2em 0 0.5em;
    &:first-child {
      margin-top: 1em;
    }
  }
}

.courses {
  @include typo(20px, 28px);
  font-weight: 700;
  h1 {
    font-weight: 500;
    text-align: center;
  }
}
.courses-list {
  text-align: justify;
  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  &:before {
    position: absolute;
    margin-top: 59px;
    content: '';
    display: block;
    height: 1px;
    left: 23px;
    right: 23px;
    background: #d4d1cd;
    @include respond-to(mob) {
      content: normal;
    }
  }
}
.course {
  position: relative;
  width: 185px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-bottom: 30px;
}
.course-image {
  display: block;
  width: 150px;
  margin: 0 auto;
  background: #f1ede9;
  text-align: center;
}
