.text {
  @include typo(18px, 26px, 100);
  width: 780px;
  h2 {
    margin: 2em 0 1em;
    font-size: 24px;
    @include respond-to(mob) {
      text-align: center;
    }
  }
  p {
    margin: 1em 0;
  }
}
.text-header {
  text-align: center;
}
.text-title {
  font-size: 44px;
  font-weight: 300;
  color: $colorMain;
}
.text-subtitle {
  @include typo(14px, 1, 500);
  text-transform: uppercase;
  margin: 45px 0;
  @include respond-to(mob) {
    margin: 30px 0;
  }
}
.text-img {
  margin-bottom: 50px;
  @include respond-to(mob) {
    margin: 0 -10px 20px;
  }
  img {
    max-width: 100%;
  }
}
.text-lead {
  @include typo(22px, 32px, 100);
  padding: 0 80px;
  margin-bottom: 70px;
  @include respond-to(mob) {
    padding: 0;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  strong {
    font-variant: small-caps;
    font-weight: 500;
  }
}


