$bgEv: #f2efea;
.events {
  @include respond-to(tab) {
    padding: 50px 20px 30px;
  }
  margin: 0 auto;
  padding: 90px 20px 73px;
  max-width: 1080px;
  background: $bgEv;
}
.events-title {
  @include typo(40px, 48px, 700);
  @include respond-to(tab) {
    @include typo(32px, 38px);
    position: relative;
    text-align: center;
  }
  position: absolute;
  margin-top: 0;
}
.timeline {
  position: relative;
  overflow: hidden;
  transition: all $d*2 $e;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
  &:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
    width: 3px;
    background: #eae5df;
    content: "";
  }
}
.timeline-dot {
  position: relative;
}
.timeline-date {
  position: relative;
  z-index: 11;
  clear: both;
  margin: auto;
  padding: 10px 0;
  width: 70px;
  background: $bgEv;
  text-align: center;
}
.timeline-date-in {
  display: inline-block;
  width: 70px;
  height: 70px;
  border: 3px solid #eae5df;
  border-radius: 50%;
  color: $colorMain;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 64px;
}
.timeline-date-self {
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
}
.timeline-year {
  @include respond-to(tab) {
    display: none;
  }
  position: absolute;
  right: 0;
  left: 0;
  z-index: 5;
  display: block;
  margin-top: 45px;
  background: $bgEv;
  color: #b0a09f;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}
.timeline-data-y {
  @include respond-to(tab) {
    display: block;
  }
  display: none;
}
.timeline-more {
  position: relative;
  clear: both;
  margin-bottom: 0;
  padding: 10px 0;
  background: $bgEv;
  text-align: center;
  transition: opacity $d $e;
  .timeline.is__loading & {
    position: absolute;
    right: 0;
    left: 0;
    opacity: 0;
  }
}

.timeline-box {
  // position: absolute;
  // opacity: 0;
  .timeline-dot {
    opacity: 0;
    transition: all $d $e;
  }
  .ev {
    transition: all $d $e;
    transform: translateY(40px);
  }
  &.is__ready {
    .timeline-dot {
      opacity: 1;
      &:nth-child(1) {
        transition-delay: $d; .ev {
          transition-delay: $d;
        }
      }
      &:nth-child(2) {
        transition-delay: $d + .2s; .ev {
          transition-delay: $d + .2s;
        }
      }
      &:nth-child(3) {
        transition-delay: $d + .4s; .ev {
          transition-delay: $d + .4s;
        }
      }
      &:nth-child(4) {
        transition-delay: $d + .6s; .ev {
          transition-delay: $d + .6s;
        }
      }
    }
    .ev {
      transform: translateY(0);
    }
  }
}

.ev {
  @include respond-to(tab) {
    float: none !important;
    margin: 60px 0;
    padding: 10px 0;
    width: auto;
    background: $bgEv;
  }
  position: relative;
  z-index: 6;
  margin: -80px 0 30px;
  width: 50%;
  .timeline-dot:nth-child(2n+1) & {
    float: right;
    .ev-in {
      margin-left: 65px;
      &:before {
        right: 100%;
        border-left: 0;
      }
    }
  }
  .timeline-dot:nth-child(2n) & {
    float: left;
    .ev-in {
      margin-right: 65px;
      &:before {
        left: 100%;
        border-right: 0;
      }
    }
  }
}
.ev-in {
  @include typo(16px, 24px, 100);
  @include clear;
  @include respond-to(tab) {
    margin: 0 0 0 !important;
  }
  position: relative;
  padding: 0 20px 20px;
  background: #faf9f8;
  &:before {
    @include respond-to(mob) {
      content: normal;
    }
    position: absolute;
    top: 25px;
    display: block;
    border-width: 10px;
    border-style: solid;
    border-color: transparent #fff;
    content: "";
  }
}
.ev-header {
  @include typo(21px, 28px, 300);
  margin: 0 -20px;
  padding: 20px;
  background: #fff;
  strong {
    color: $colorMain;
    font-weight: inherit;
  }
}
.ev-desc {
  margin: 1em 0;
}
.ev-more {
  float: right;
}
