- text ||= кнопка
- aclass ||= ""
- link ||= "#"
- is_button ||= false

- if is_button
  %button.button{class: aclass, type: "submit"}
    %span.button-in= text
- else
  = link_to link, class: "button #{aclass}" do
    %span.button-in= text
