.cart
  %h1 Ваш расчет
  %table.cart-table
    %thead
      %tr
        %th.cart-item-remove
        %th.cart-item-name Наименование
        %th.cart-item-price Цена
        %th.cart-item-amount Количество
        %th.cart-item-total Итоговая цена
    %tbody
      %tr.cart-item
        %td.cart-item-remove
          %a.cart-item-remove-link{:href => "#"}
        %td.cart-item-name
          %a{:href => "#"}
            %i.cart-item-image= image_tag "data/products/1.png"
            %span.cart-item-title <span class="brand">iiko</span>Front
        %td.cart-item-price 19 990
        %td.cart-item-amount
          %a{:href => "#"} -
          %input.form-input{:type => "text", value: "3"}/
          %a{:href => "#"} +
        %td.cart-item-total 59 970

      %tr.cart-item
        %td.cart-item-remove
          %a.cart-item-remove-link{:href => "#"}
        %td.cart-item-name
          %a{:href => "#"}
            %i.cart-item-image= image_tag "data/products/3.png"
            %span.cart-item-title <span class="brand">iiko</span>DashboardRMS
        %td.cart-item-price 4 990
        %td.cart-item-amount
          %a{:href => "#"} -
          %input.form-input{:type => "text", value: "3"}/
          %a{:href => "#"} +
        %td.cart-item-total 14 970

      %tr.cart-item
        %td.cart-item-remove
          %a.cart-item-remove-link{:href => "#"}
        %td.cart-item-name
          %a{:href => "#"}
            %i.cart-item-image= image_tag "data/products/2.png"
            %span.cart-item-title <span class="brand">iiko</span>Monitoring
        %td.cart-item-price 4 990
        %td.cart-item-amount
          %a{:href => "#"} -
          %input.form-input{:type => "text", value: "1"}/
          %a{:href => "#"} +
        %td.cart-item-total 4 990

      %tr.cart-item
        %td.cart-item-remove
          %a.cart-item-remove-link{:href => "#"}
        %td.cart-item-name.cart-item-name_long
          %a{:href => "#"}
            %i.cart-item-image= image_tag "data/products/7.png"
            %span.cart-item-title Установка, настройка и запуск в эксплуатацию <span class="brand">iiko</span>Front
        %td.cart-item-price 6 000
        %td.cart-item-amount
          %a{:href => "#"} -
          %input.form-input{:type => "text", value: "3"}/
          %a{:href => "#"} +
        %td.cart-item-total 18 000
  .cart-total
    .cart-helper Все цены указаны с учетом НДС
    \= 97 930 р.

  .buttons
    = partial :button, locals: {aclass: "button_action", text: "Распечатать"}
    = partial :button, locals: {aclass: "button_action button_alt", text: "Отправить по E-Mail"}
