- cls ||= ""
.client{:class => cls}
  .holder
    .client-feedback= text
    .client-logo
      = image_tag "data/clients/#{logo}.png"
    .client-person
      .client-person-in
        %strong #{name},
        = status
