.clients-wrapper.js__crsl-items
  .js__crsl-nav
    %i.clients-nav.clients-nav_prev.js__crsl-nav-prev
    %i.clients-nav.clients-nav_next.js__crsl-nav-next
  .clients-list-wrapper
    .clients-list.js__crsl-list
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "«Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.»", :name => "Владимир Осипов", :status => "управляющий сети Sbarro"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Жан-жак"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Данкин Донатс"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Кофе Хауз"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Тодасё"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Prime Star"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Жан Жак"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Жан-жак"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Данкин Донатс"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Кофе Хауз"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Тодасё"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Prime Star"}
      = partial :client, :locals => { :cls => "js__crsl-item", :logo => "sbarro", :text => "Одно из преимуществ iiko - это то, что покупая базовый пакет, вы приобретаете все модули. Не придется докупать все отдельно, чтобы автоматизировать работу своего предприятия.", :name => "Владимир Осипов", :status => "управляющий сети Жан Жак"}
  .clients-switcher
    .clients-preview-list.js__crsl-dots
      .clients-preview-list-in.js__crsl-dots-in
        %a.client-preview.js__crsl-dot.is__active{:href => "#"}
          = image_tag "data/clients/sbarro.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/janjak.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/dunkin.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/coffeehouse.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/todase.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/primestar.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/janjak.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/janjak.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/dunkin.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/coffeehouse.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/todase.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/primestar.png"
        %a.client-preview.js__crsl-dot{:href => "#"}
          = image_tag "data/clients/janjak.png"
.buttons
  = partial :button, locals: {aclass: "button_alt button_big", text: "Подробнее"}
  = partial :button, locals: {aclass: "button_big", text: "Все отзывы"}
