- more ||= false
.doc
  %h2.doc-title
    %a{:href => "#"}= title
  .doc-body.js__tt
    - body.each do |list|
      - if list.has_key? :title
        %h3= list[:title]
      - if list.has_key? :links
        %ul
          - list[:links].each do |link|
            %li
              %a{:href => "#"}= link
      - if more
        %a.doc-more-link.js__tt-toggler{:href => "#"}= more
        %ul.doc-more
          - list[:links].each do |link|
            %li
              %a{:href => "#"}= link
