.ev
  .ev-in
    %header.ev-header= title
    %p.ev-desc В октябре 2012 года компания «Айко» привлекла второй раунд инвестиций от венчурного фонда «Лидер Инновации» в размере $10М.
    = partial :button, locals: {text: "Подробнее", aclass: "ev-more button_gray"}
