.fact
  %h2.fact-title
    - if defined? header_digit
      %strong.fact-digit= header_digit
    -else
      %strong= header_text
    = header_else
  .fact-desc= desc
  = partial :button, locals: {text: button}
