.feedback
  .holder
    %h1.feedback-title Свяжитесь с нами
    .feedback-lead Вы также можете получить информацию о решениях и продуктах iiko по телефону: <span class="feedback-phone">+7 (495) 215 22 00</span>
    %form.form{:action => "#"}
      .form-row
        %label.form-in
          %span.form-label Ваше имя
          %input.form-input{:type => "text"}/
        %label.form-in
          %span.form-label Компания
          %input.form-input{:type => "text"}/
      .form-row
        %label.form-in
          %span.form-label E-mail
          %input.form-input{:type => "text"}/
        %label.form-in
          %span.form-label Телефон
          %input.form-input{:type => "text"}/
      .form-row
        %label.form-full
          %span.form-label Текст сообщения
          %textarea#text.form-input{:name => "text", :cols => "30", :rows => "10"}

      .form-row.form-row_button
        = partial :button, locals: {text: "ОТПРАВИТЬ ЗАПРОС", is__button: true}
