.item
  %header.item-header
    %h1 <span class="brand">iiko</span>Delivery
    %p  С помощью единого интегрированного комплекса решений iiko вы&nbsp;сможете сделать работу вашей службы доставки эффективной, а&nbsp;также приятно удивить своих гостей удобством, скоростью и&nbsp;качеством обслуживания
  .item-image= image_tag "data/item.jpg"
  .item-calc
    .item-price
      %span.item-price-digits 23 990.-
      %span.item-price-add Цена за одну бессрочную лицензию
    %a.item-button.button.button_alt.button_action{:href => "#"} Добавить в расчет
  %hr/
  .item-sec
    %h1.item-sec-title
      %span.item-sec-title-pre <span class="brand">iiko</span>Delivery для владельца заведения
      Контроль над бизнесом
    %p <strong class="sc">многие рестораторы</strong>, создав успешное заведение, задумываются о том, чтобы организовать службу доставки готовых блюд, ведь это хороший источник дополнительной прибыли и отличное средство для привлечения новых гостей!
    %p С помощью единого интегрированного комплекса решений iiko вы сможете сделать работу вашей службы доставки эффективной, а также приятно удивить своих гостей удобством, скоростью и качеством обслуживания.
    = partial :slider, locals: {text: "Интеграция с едиными доставочными порталами (например, DeliveryClub)", items: ["item1.jpg", "item2.jpg"]}

  .item-sec
    %h1.item-sec-title
      %span.item-sec-title-pre <span class="brand">iiko</span>Delivery для менеджера точки доставки
      Увеличение прибыли
    %p <strong class="sc">за счет интеграции</strong> всех бизнес-процессов в единой системе и исключения человеческого фактора iiko позволяет существенно снизить издержки, обеспечивая бесперебойную работу на всех участках бизнеса.
    %p Единое ценообразование, единый складской и финансовый учет, а также управленческая отчетность значительно повышают прозрачность и управляемость бизнеса в ресторанах с доставкой, автоматизированных с помощью iikoDelivery.
    = partial :slider, locals: {text: "Возможность заказывать продукты для будущих доставок)", items: ["item2.jpg", "item1.jpg"]}

  .item-advs
    %h1 Преимущества <span class="brand">iiko</span>Delivery
    .item-advs-col
      .item-adv
        %a{:href => "#"} Интергация всех модулей.
        Заведения, автоматизированные с помощью решения iikoRMS, могут быть объединены в сеть с помощью решения iikoChain.
      .item-adv
        %a{:href => "#"} Бюджетинование и планирование.
        Продукты iiko тотально управляют всеми процессами в ресторане: система не только автоматизирует продажи и склад, но ежеминутно
      .item-adv
        %a{:href => "#"} Инвентаризация в реальном времени.
        Продукты iiko тотально управляют всеми процессами в ресторане: система не только автоматизирует продажи и склад,
    .item-advs-col
      .item-adv
        %a{:href => "#"} Моментальная синхронизация.
        Продукты iiko тотально управляют всеми процессами в ресторане: система не только автоматизирует продажи и склад,
      .item-adv
        %a{:href => "#"} Моментальная синхронизация.
        Продукты iiko тотально управляют всеми процессами в ресторане: система не только автоматизирует продажи и склад,
      .item-adv
        %a{:href => "#"} Моментальная синхронизация.
        Продукты iiko тотально управляют всеми процессами в ресторане: система не только автоматизирует продажи и склад,


  .item-calc
    .item-price
      %span.item-price-digits 23 990.-
      %span.item-price-add Цена за одну бессрочную лицензию
    %a.item-button.button.button_alt.button_action{:href => "#"} Добавить в расчет
