- more ||= false
- link ||= "#"
.lr
  .lr-image= image_tag "data/#{image}"
  %h2.lr-title= title
  %p.lr-desc Команду «Айко» отличает высокий профессиональный уровень каждого ее сотрудника: при поступлении на работу будущие сотрудники компании проходят жесткий отбор, поэтому те, кто работает в компании, по праву гордятся своим коллективом
  - if more
    = partial :button, locals: {text: "Подробнее", link: link}
