- brand ||= 'iiko'
- title ||= 'CallCenter'
- price ||= '23 990'
- desc  ||= 'Сервер колл-центра резервирования и службы доставки'
- nobutton ||= false
.product.product_bordered.js__eqs-item
  %header.product-header
    %span.product-title
      %a.js__plink{:href => "#item"} <span class="brand">#{brand}</span>#{title}
    %span.product-price
      = price
      р.
  .product-desc= desc
  - if !nobutton
    = partial :product_order
