.product-order.js__order
  -# = partial :button, locals: {text: "Добавить в расчет"}
  %a.product-button.js__order-toggler{:href => "#"} Добавить в расчет
  .product-calc
    %a.product-calc-change.js__order-minus{:href => "#"} —
    %span.product-calc-count.js__order-sum 0
    %a.product-calc-change.js__order-plus{:href => "#"} +
    %span.product-calc-check
