- brand ||= ''
- title ||= 'CallCenter'
- price ||= '23 990'
- icon  ||= '1.png'
- desc  ||= false
- nobutton ||= false
.product.product_wicon.js__eqs-item
  .product-icon= image_tag "data/products/#{icon}"
  %h2.product-title
    %a.js__plink{:href => "#item"} <span class="brand">#{brand}</span>#{title}
  - if desc
    .product-desc= desc
  .product-price #{price}.—
  - if !nobutton
    = partial :product_order
