- image ||= false
- text ||= lorem.paragraph
- author ||= lorem.name
%blockquote.quote
  - if image
    .quote-image
      = image_tag "data/#{image}"
  .quote-body
    .quote-text= text
    .quote-author= author
