.result.js__tt
  %h2.result-title
    %a.result-link.js__tt-toggler{:href => "#"}
      %span.result-image= image_tag "data/#{image}"
      = title
  .result-body
    %h3 Услуги
    %p Автоматизация ресторанов, кафе, баров и развлекательных центров. Консультирование по использованию программного обеспечения iiko.  Постановка бизнес–процессов, техническая поддержка клиентов, обучение персонала, поставка оборудования
    %h3 Контакты
    %p 420108, г. Казань, ул. Зайни султана 17А <br>Телефон для справок: <strong>+7 (843) 239 00 39</strong> <br>Телефон тех. поддержки: <strong>+7 (927) 033 37 22</strong> <br>Факс: <strong>+7 (843) 293 13 01</strong>  E-mail: <strong>info.kzn@iresto.ru</strong>  Skype: <strong>iresto-kzn</strong>
