- aclass ||= ""
- text ||= "Событийный видеоконтроль позволяет сократить уровень злоупотреблений"
.slider.js__slider{class: aclass}
  .slider-nav
    %a.slider-nav-item.slider-nav-item_prev.is__disabled.js__slider-nav-prev{:href => "#"}
    %a.slider-nav-item.slider-nav-item_next.js__slider-nav-next{:href => "#"}
  .slider-holder
    .slider-list.js__slider-list
      - items.each do |item|
        .slider-item
          = image_tag "data/#{item}", class: 'slider-item-img'
          .slider-item-desc= text
