- active ||= 0
- alt ||= 0
- link ||= "#"
- aclass ||= ""
.submenu-holder.js__submenu
  .submenu-box.js__submenu-in
    .menu
      .submenu{class: aclass}
        - titles.each_with_index do |title, i|
          - aclass = (active - 1 == i ? "is__active" : "") + (alt - 1 == i ? " is__pale" : "");
          = link_to link, class: "submenu-item #{aclass}" do
            %span.submenu-item-in= title

