%ul
  %li= link_to 'Index', '/'
  %li= link_to 'Soultions', '/solutions.html'
  %li= link_to 'Soultion', '/solution.html'
  %li= link_to 'Products', '/products.html'
  %li= link_to 'Clients', '/clients.html'
  %li= link_to 'Logos', '/logos.html'
  %li= link_to 'About', '/about.html'
  %li= link_to 'Job', '/job.html'
  %li= link_to 'Service', '/service.html'
  %li= link_to 'Support', '/support.html'
  %li= link_to 'Contacts', '/contacts.html'
  %li= link_to 'Text', '/text.html'
  %li= link_to 'Reco', '/reco.html'
