---
menu_4: is__active
---
.scr.scr_about
  .scr-in
    %h1.scr-header iiko: история компании
    %p.scr-slogan РАЗРАБАТЫВАЕМ ЛУЧШИЕ СИСТЕМЫ RMS С 2005 ГОДА


.section.events.holder
  %h1.events-title Ключевые <br/>события
  .timeline.js__timeline
    .timeline-dot
      .timeline-date
        .timeline-date-in
          .timeline-date-self
            Апрель
            %span.timeline-date-y 2014
      = partial :event, locals: {title: "<strong>«Тройка-диалог»</strong> инвестирует в развитие проекта"}
    .timeline-dot
      .timeline-date
        .timeline-date-in
          .timeline-date-self
            Январь
            %span.timeline-date-y 2014
      = partial :event, locals: {title: "Пройден рубеж в <strong>4000</strong> клиентов"}
      .timeline-year 2014
    .timeline-dot
      .timeline-date
        .timeline-date-in
          .timeline-date-self
            Май
            %span.timeline-date-y 2013
      = partial :event, locals: {title: "<strong>2000 ресторанов</strong> используют iiko"}
    .timeline-dot
      .timeline-date
        .timeline-date-in
          .timeline-date-self
            Март
            %span.timeline-date-y 2013
      = partial :event, locals: {title: "Разработан первый модуль <strong>iikoRMS</strong>"}
      .timeline-year 2013
    .js__timeline-placeholder
    .timeline-more.loader
      = partial :button, locals: {text: "Ранее", aclass: "button_action button_big button_alt js__timeline-loader"}

.media.holder
  %h1.media-title
    %span.media-title-in Пресса о нас
  .media-list
    %a.media-item{:href => "#"}= image_tag "data/media/01.jpg"
    %a.media-item{:href => "#"}= image_tag "data/media/02.jpg"
    %a.media-item{:href => "#"}= image_tag "data/media/03.jpg"
    %a.media-item{:href => "#"}= image_tag "data/media/04.jpg"
    %a.media-item{:href => "#"}= image_tag "data/media/01.jpg"
    %a.media-item.media-item_archive{:href => "#"} Архив

.publs.section
  .holder
    %h1.publs-title Публикации
    .publs-list
      .publ
        %h2.publ-title
          %a{:href => "#"} Идеи для увеличения прибыли
        %p.publ-desc Как рождается iiko? Все начинается с идей. Мы берем их отовсюду - изучаем мировые тенденции, советуемся с самыми талантливыми специалистами ...
      .publ
        %h2.publ-title
          %a{:href => "#"} Три простых рецепта для привлечения гостей
        %p.publ-desc Залогом успеха фастфудной концепции является высокая проходимость и демократичные цены. Чтобы извлечь
      .publ
        %h2.publ-title
          %a{:href => "#"} Как «обольстить» клиента доставки
        %p.publ-desc Как рождается iiko? Все начинается с идей. Мы берем их отовсюду - изучаем мировые тенденции, советуемся с самыми талантливыми специалистами ...
      .publ
        %h2.publ-title
          %a{:href => "#"} Повышение прибыли в ресторанной сети
        %p.publ-desc Залогом успеха фастфудной концепции является высокая проходимость и демократичные цены. Чтобы извлечь
      .publ
        %h2.publ-title
          %a{:href => "#"} Финансовый учет в ресторане
        %p.publ-desc Как рождается iiko? Все начинается с идей. Мы берем их отовсюду - изучаем мировые тенденции, советуемся с самыми талантливыми специалистами ...
      .publ
        %h2.publ-title
          %a{:href => "#"} Фастфуд: учет и контроль
        %p.publ-desc Залогом успеха фастфудной концепции является высокая проходимость и демократичные цены. Чтобы извлечь
    .loader
      = partial :button, locals: {text: "Все Публикации", aclass: "button_action button_big"}

.addresses
  .address
    .address-map= image_tag "data/map1.jpg"
    %h2.address-city Москва
    %p ООО «Ресто Софтвер»
    %p 117587, г. Москва, Варшавское шоссе д. 118 корп. 1 (Бизнес-центр «Варшавка Sky»), <br/>17-й этаж
    %p
      %strong
        +7 (495) 215 2200
        %br/
        %a{:href => "mailto:iiko@iiko.ru"} iiko@iiko.ru
    = partial :button, locals: {text: "Схема проезда"}
  .address
    .address-map= image_tag "data/map2.jpg"
    %h2.address-city Казань
    %p ЗАО «Айко»
    %p 420097, г. Казань, ул. Достоевского, д. 66 <br/>Корреспонденцию просьба направлять по адресу: 420097, РТ, г. Казань, а/я 71
    %p
      %strong
        +7 (843) 524 8000; +7 (843) 524 8001
        %br/
        %a{:href => "mailto:kazan@iiko.ru"} kazan@iiko.ru
    = partial :button, locals: {text: "Схема проезда"}
= partial :feedback
