---
maps: true
menu_2: is__active
---

= partial :submenu, locals: {titles: ["Все клиенты", "Отзывы пользователей", "Истории успеха"], aclass: "submenu_clients"}

.map
  .map-in#map
  #zoomin.map-zoom.map-zoom_in +
  #zoomout.map-zoom.map-zoom_out &ndash;


.clients-logos.holder
  %h1 Более 4000 компаний уже выбрали iiko
  %p Среди наших клиентов:
  .clients-logos-list
    .clients-logos-item= image_tag "data/clients/01.png"
    .clients-logos-item= image_tag "data/clients/02.png"
    .clients-logos-item= image_tag "data/clients/03.png"
    .clients-logos-item= image_tag "data/clients/04.png"
    .clients-logos-item= image_tag "data/clients/05.png"
    .clients-logos-item= image_tag "data/clients/06.png"
    .clients-logos-item= image_tag "data/clients/07.png"
    .clients-logos-item= image_tag "data/clients/08.png"
    .clients-logos-item= image_tag "data/clients/09.png"

  .buttons
    = partial :button, locals: {aclass: "button_alt button_big", text: "ВСЕ КЛИЕНТЫ"}

.clients.clients_in.js__crsl{data: {carousel: "1"}}
  .clients-splash
    .holder
      %h1.clients-splash-title Iiko трансформирует <br/>ресторанный бизнес
  = partial :crsl

.stories
  %h1.stories-title
    %span.stories-title-in Истории успеха
  .stories-list
    %a.story{:href => "#"}
      %span.story-image= image_tag "data/story/01.jpg"
      %span.story-title Ресторан самообслу-живания <span class="brand">Daily</span>
    %a.story{:href => "#"}
      %span.story-image= image_tag "data/story/02.jpg"
      %span.story-title <span class="brand">Sbarro</span>: iiko в большой сети заведений
    %a.story{:href => "#"}
      %span.story-image= image_tag "data/story/03.jpg"
      %span.story-title <span class="brand">ArteFAQ</span>: эксперимен-тальный ресторан
    %a.story{:href => "#"}
      %span.story-image= image_tag "data/story/04.jpg"
      %span.story-title <span class="brand">FAQ-cafe</span> Creative Studio

= partial :feedback
