---
contacts: true
menu_5: is__active
---
= partial :submenu, locals: {titles: ["Офис в Москве", "Офис в Казани", "Партнерская сеть", "Обратная связь"]}

.section.contact-phone
  .holder
    .contact-phone-main
      %span.phone +7 (495) 215 2200
      %span ПОзвоните нам
    .contact-phone-side
      Мы работаем с 9:00 до 20:00, но позвонить нам можно круглосуточно – автоответчик запишет ваше сообщение и мы обязательно перезвоним!

.search
  .holder
    %h1 Найдите партнера iiko в своем городе
    %form.searchbox{action: "#"}
      %input.form-input{type: "text"}/
      = partial :button, locals: {text: "Найти", is_button: true}
    .search-results
      = partial :result, locals: {image: "search1.jpg", title: "Компания iResto"}
      = partial :result, locals: {image: "search2.jpg", title: "Компания «Ниагара-Сервис»"}
      = partial :result, locals: {image: "search3.jpg", title: "Компания «Отдел Внедрения»"}
    .buttons
      = partial :button, locals: {text: "Стать партнером", aclass: "search-link button_big button_action"}

.contact
  .contact-map.js__cmap{data: {coords: "55.631279,37.618021"}}
    .contact-map-in.js__cmap-in
    .map-zoom.map-zoom_in.js__cmap-zoom-in +
    .map-zoom.map-zoom_out.js__cmap-zoom-out &ndash;
  .holder
    %h1.contact-city
      %span.contact-city-in Москва
    .contact-info
      .contact-address
        %p ООО «Ресто Софтвер»
        %p 117587, г. Москва, Варшавское шоссе д. 118 корп. 1 (Бизнес-центр «Варшавка Sky»), 17-й этаж
      .contact-connect
        +7 (495) 215 2200
        %br/
        %a{:href => "mailto:iiko@iiko.ru"} iiko@iiko.ru
        = partial :button, locals: {text: "Версия для печати"}
    .contact-ways
      .contact-way
        %h2 Как к нам пройти пешком от ст. м. «Чертановская»
        %p Вам нужен выход из первого вагона в сторону конечной станции или последнего вагона в сторону центра. Выйдя из метро на улицу, сразу поверните налево и еще раз налево, обходя здание станции.
        %p Перед вами будет сквер и аллея, ведущая в сторону Сумского проезда, идете по ней, дойдя до Сумского проезда, вы увидите слева 20-этажное здание, это Бизнес-центр «Варшавка Sky», где находится наш офис.
        %p Вход со стороны Варшавского шоссе. Сворачиваете налево, напротив автобусной остановки будет пешеходный переход к зданию. Ориентировочное время в пути - 10-15 минут.
      .contact-way
        %h2 Как к нам проехать на автомобиле
        %p К нам можно приехать по Варшавскому шоссе из центра (маршрут обозначен сиреневой линией) или из области (красная линия).
        %p Предлагаем вашему вниманию три зоны парковки (они обозначены зеленым цветом), на которых вам всегда удастся найти свободное место. Нажмите на многоугольник, которым обозначена парковка, и вы увидите ее описание.

.contact
  .contact-map.js__cmap{data: {coords: "55.787233, 49.155264"}}
    .contact-map-in.js__cmap-in
    .map-zoom.map-zoom_in.js__cmap-zoom-in +
    .map-zoom.map-zoom_out.js__cmap-zoom-out &ndash;
  .holder
    %h1.contact-city
      %span.contact-city-in Казань
    .contact-info
      .contact-address
        %p ЗАО «Айко»
        %p 420097, г. Казань, ул. Достоевского, д. 66 <br>Корреспонденцию просьба направлять по адресу: 420097, РТ, г. Казань, а/я 71
      .contact-connect
        +7 (843) 524 8000;
        %br/
        %a{:href => "kazan:iiko@iiko.ru"} kazan@iiko.ru
        = partial :button, locals: {text: "Версия для печати"}
    .contact-ways
      .contact-way
        %h2 Как к нам пройти пешком от ст. м. «Чертановская»
        %p Вам нужен выход из первого вагона в сторону конечной станции или последнего вагона в сторону центра. Выйдя из метро на улицу, сразу поверните налево и еще раз налево, обходя здание станции.
        %p Перед вами будет сквер и аллея, ведущая в сторону Сумского проезда, идете по ней, дойдя до Сумского проезда, вы увидите слева 20-этажное здание, это Бизнес-центр «Варшавка Sky», где находится наш офис.
      .contact-way
        %h2 Как к нам проехать на автомобиле
        %p К нам можно приехать по Варшавскому шоссе из центра (маршрут обозначен сиреневой линией) или из области (красная линия).
        %p Предлагаем вашему вниманию три зоны парковки (они обозначены зеленым цветом), на которых вам всегда удастся найти свободное место. Нажмите на многоугольник, которым обозначена парковка, и вы увидите ее описание.

.socials
  %a.social-item.social-item_vk{:href => "#", :title => "Vk"}
  %a.social-item.social-item_fb{:href => "#", :title => "Facebook"}
  %a.social-item.social-item_tw{:href => "#", :title => "Twitter"}

= partial :feedback, locals: { chooser: true }
