%section.splash.splash-slider.js__crsl{data: { slider_vert: 1}}
  .splash-slider-container.js__crsl-items
    .splash-slider-list.js__crsl-list
      .splash-slider-item.js__crsl-item{style: "background-image: url(#{images_dir}/bg_splash-1.jpg); background-color: #ff4137;"}
        .holder
          .splash-icon
            %img{src: "#{images_dir}/data/icon_splash.png", alt: ""}/
          %h1.splash-title Система автоматизации ресторанов
          %p.splash-desc Решение нового поколения iiko позволяет в едином информационном пространстве управлять ресурсами предприятия индустрии гостеприимства
          = partial :button, locals: {text: "подробнее"}
      .splash-slider-item.js__crsl-item{style: "background-image: url(#{images_dir}/bg_splash-2.jpg); background-color: #1db5bf;"}
        .holder
          .splash-icon
            %img{src: "#{images_dir}/data/icon_splash.png", alt: ""}/
          %h1.splash-title Система автоматизации ресторанов 2
          %p.splash-desc Решение нового поколения iiko позволяет в едином информационном пространстве управлять ресурсами предприятия индустрии гостеприимства
          = partial :button, locals: {text: "подробнее"}
      .splash-slider-item.js__crsl-item{style: "background-image: url(#{images_dir}/bg_splash-1.jpg); background-color: #ff4137;"}
        .holder
          .splash-icon
            %img{src: "#{images_dir}/data/icon_splash.png", alt: ""}/
          %h1.splash-title Система автоматизации ресторанов 3
          %p.splash-desc Решение нового поколения iiko позволяет в едином информационном пространстве управлять ресурсами предприятия индустрии гостеприимства
          = partial :button, locals: {text: "подробнее"}
    .splash-slider-dots-box
      .splash-slider-dots.js__crsl-dots
        %a.splash-slider-dot-item.js__crsl-dot.is__active{href: "#"} 1
        %a.splash-slider-dot-item.js__crsl-dot{href: "#"} 2
        %a.splash-slider-dot-item.js__crsl-dot{href: "#"} 3

%section.event
  .holder
    %table.event-table
      %tr
        %td.event-date 21 января
        %td
          Семинар: «Формирование меню, ценовые категории, дисконтная система»
          %a{href: "#"} расписание семинаров

%section.sols
  .holder
    %h1.sols-title Решения, которые подойдут Вам
    %p.sols-desc Ваши глаза и руки в ресторане. Помощник, на которого можно положиться 24 часа в сутки

    .sols-list
      %a.sol{href: "#"}
        %i.sol-icon= image_tag "data/index-chain.png"
        %span.sol-title Управление сетью заведений
      %a.sol{href: "#"}
        %i.sol-icon= image_tag "data/index-table-serving.png"
        %span.sol-title Управление рестораном с обслуживанием у столов
      %a.sol{href: "#"}
        %i.sol-icon= image_tag "data/index-fastfood.png"
        %span.sol-title Управление ресторана с быстрым обслуживанием
      %a.sol{href: "#"}
        %i.sol-icon= image_tag "data/index-bar.png"
        %span.sol-title Управление небольшими заведениями
      %a.sol{href: "#"}
        %i.sol-icon= image_tag "data/index-delivery.png"
        %span.sol-title Управление доставкой
      %a.sol{href: "#"}
        %i.sol-icon= image_tag "data/index-corporate.png"
        %span.sol-title Корпоративное питание и кейтеринг

%section.specials
  .holder
    %a.special.special_solution{href: "#"} Подобрать решение
    %a.special.special_prices{href: "#"} Узнать цены
    %a.special.special_try{href: "#"} Попробовать iiko
    %a.special.special_request{href: "#"} Оставить заявку

.section.section_clients
  %section.clients.js__crsl
    .clients-splash
      .holder
        %p.clients-pre в 15 странах мира
        .clients-counter.counter
          %span.counter-digit 5
          %span.counter-digit 2
          %span.counter-digit 9
          %span.counter-digit 4
        %p.clients-suf клиента уже работают <br/>с нами
    = partial :crsl

  %section.facts
    .holder
      %h1.facts-title Компания нового поколения Айко
      %p.facts-desc Ваши глаза и руки в ресторане. Помощник, на которого можно положиться 24 часа в сутки

      .facts-list
        = partial :fact, locals: {header_digit: "115", header_else: "сотрудников", desc: "работают в офисах в Москве и Казани", button: "Вакансии"}
        = partial :fact, locals: {header_digit: "5000", header_else: "клиентов", desc: "уже используют наши системы автоматизации", button: "Отзывы"}
        = partial :fact, locals: {header_digit: "30", header_else: "приложений", desc: "создано нашими партнерами на платформе iiko", button: "Приложения"}
        = partial :fact, locals: {header_digit: "1 000 000", header_else: "пользователей", desc: "копят бонусы за посещения ресторанов в iiko.net", button: "Подробнее"}
        = partial :fact, locals: {header_text: "Регулярные", header_else: "обновления", desc: "Новые версии продуктов выходят раз в 2 месяца", button: "Посмотреть"}
        = partial :fact, locals: {header_digit: "220 ", header_else: "дилеров ", desc: "распространяют продукты iiko в 15 странах", button: "Дилеры"}

%section.specials.specials_grid
  .holder
    %a.special.special_docs{href: "#"} Документация
    %a.special.special_train{href: "#"} Обучение персонала
    %a.special.special_cabinet{href: "#"} Личный кабинет


