---
menu_4: is__active
---

= partial :submenu, locals: {titles: ["Совет директоров", "Руководство", "Работа в iiko", "Клиенты", "iiko в цифрах", "Новости и мероприятия"]}

.scr.scr_job.js__tt
  .scr-in
    %a.scr-play.js__play.js__tt-toggler{:href => "#"}
    %h1.scr-header Присоединяйтесь к дружной команде iiko
    %p.scr-slogan видео
  .scr-video
    .scr-video-box
      <iframe width="830" height="467" src="//www.youtube.com/embed/DFh-EB1Adoo?enablejsapi=1&playerapiid=yt" frameborder="0" allowfullscreen></iframe>

.job-about
  .holder
    .lr-list
      = partial :lr, locals: {image: "job1.jpg", title: "Современное рабочее пространство"}
      = partial :lr, locals: {image: "job2.jpg", title: "Мини-спортзал"}
      = partial :lr, locals: {image: "job3.jpg", title: "Кухня и бесплатные обеды"}
      = partial :lr, locals: {image: "job4.jpg", title: "Все необходимое для отдыха"}

.section.offers
  .holder
    .offers-city
      %h2 Вакансии в Москве
      %ul.offers-list
        %li
          %a{:href => "#"} Ведущий разработчик C#
        %li
          %a{:href => "#"} Инженер по внедрению программного обеспечения
        %li
          %a{:href => "#"} Менеджер партнерского отдела
      = partial :button, locals: {text: "Все вакансии", aclass: "button_action button_big"}
    .offers-city
      %h2 Вакансии в Казани
      %ul.offers-list
        %li
          %a{:href => "#"} Ведущий разработчик C#
        %li
          %a{:href => "#"} Менеджер партнерского отдела
        %li
          %a{:href => "#"} Консультант технической поддержки
      = partial :button, locals: {text: "Все вакансии", aclass: "button_action button_big"}

.sections.reviews
  .holder
    %h1.reviews-title Мы любим свое дело
    .reviews-list
      .review
        .review-image= image_tag "data/reviewer.jpg"
        .review-body
          %p « Компания Айко - это коллектив молодых и целеустремленных людей, исповедующий принцип: “Успешный бизнес - это прежде всего команда”. В процессе принятия решений учитываются конструктивные предложения каждого из сотрудников компании. »
          .review-author
            %strong Елена Овсянникова
            Менеджер по внедрению
