---
menu_2: is__active
---
.logos.holder
  %h1 Наши клиенты
  .logos-list
    %a.logos-item{:href => "#"}= image_tag "data/logos/01.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/02.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/03.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/04.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/05.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/06.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/07.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/08.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/09.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/04.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/05.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/06.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/07.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/08.jpg"
    %a.logos-item{:href => "#"}= image_tag "data/logos/09.jpg"
  .pager
    %a.pager-item.is__active{:href => "#"} 1
    %a.pager-item{:href => "#"} 2
    %a.pager-item{:href => "#"} 3
    %a.pager-item{:href => "#"} 4
    %a.pager-item{:href => "#"} 5
    %a.pager-item{:href => "#"} 6
    …
    %a.pager-item{:href => "#"} 112
