---
item: true
menu_1: is__active
---
= partial :submenu, locals: {titles: ["Ресторан с обслу-<br>живанием у столов", "Сеть <br>ресторанов", "Ресторан с быстрым <br>обслуживанием", "Небольшое <br>заведение", "Служба <br>доставки", "Корпоративное питание <br>и кейтеринг", "Продукты <br>и цены"], active: 7, alt: 7, link: "solution.html"}

.pheader
  .holder
    %h1.pheader-title Продукты iiko
    .pheader-desc Продукты iiko тотально управляют всеми процессами в ресторане: система не только автоматизирует продажи и склад, но контролирует персонал, проверяет аппаратуру, привлекает в ресторан новых гостей и удерживает старых.
    .buttonset
      = partial :button, locals: {text: "Приложения", aclass: "button_big button_red"}
      = partial :button, locals: {text: "Оборудование"}
      = partial :button, locals: {text: "Услуги"}

.products
  .holder
    %h1.products-title Базовая функциональность системы
    .products-list.js__eqs
      = partial :product_icon, locals: {icon: "1.png", title: "Server", brand: "iiko", desc: "Сервер iiko в ресторане. <br/>Лицензия для одного сервера, не включает АРМ."}
      = partial :product_icon, locals: {icon: "2.png", title: "Front", brand: "iiko", desc: "Сервер iiko в ресторане. <br/>Лицензия для одного сервера, не включает АРМ."}
      = partial :product_icon, locals: {icon: "3.png", title: "Office", brand: "iiko", desc: "Сервер iiko в ресторане. <br/>Лицензия для одного сервера, не включает АРМ."}

.products.products_additional
  .holder
    .products-pre Автоматизация отдельных рабочих мест ресторана
    %h1.products-title
      %span.products-title-in Дополнительная функциональность к лицензии <span class="brand">iikoOffice</span>
    .products-list.js__eqs
      = partial :product, locals: {title: "CallCenter"}
      = partial :product, locals: {title: "Monitoring"}
      = partial :product, locals: {title: "Monitoring"}
      = partial :product, locals: {title: "CallCenter"}
      = partial :product, locals: {title: "Monitoring"}
      = partial :product, locals: {title: "Monitoring"}

    %h1.products-title
      %span.products-title-in Дополнительная функциональность к лицензии <span class="brand">iikoFront</span>
    .products-list.js__eqs
      = partial :product, locals: {title: "CallCenter"}
      = partial :product, locals: {title: "Monitoring"}
      = partial :product, locals: {title: "Monitoring"}

    %h1.products-title
      %span.products-title-in Специализированные решения для ресторанов
    .products-list.js__eqs
      = partial :product, locals: {title: "CallCenter"}
      = partial :product, locals: {title: "Monitoring"}
      = partial :product, locals: {title: "Monitoring"}
      = partial :product, locals: {title: "CallCenter"}
      = partial :product, locals: {title: "Monitoring"}
      = partial :product, locals: {title: "Monitoring"}

.products
  .holder
    %h1.products-title Оборудование
    .products-list.js__eqs
      = partial :product_icon, locals: {icon: "4.png", title: "Atlas 350", brand: "ePOS ", desc: "Станция фронт-офиса"}
      = partial :product_icon, locals: {icon: "5.png", title: "Atlas 350", brand: "ePOS ", desc: "Станция фронт-офиса"}
      = partial :product_icon, locals: {icon: "6.png", title: "Printer T12", brand: "ePOS ", desc: "Станция фронт-офиса"}

.section.products.products_serv
  .holder
    %h1.products-title Услуги
    .products-list.js__eqs
      = partial :product_icon, locals: {icon: "7.png", title: "Установка <span class='brand'>iiko</span>Front", desc: "Установка, настройка, и запуск в эксплуатацию одного АРМ"}
      = partial :product_icon, locals: {icon: "8.png", title: "Установка <span class='brand'>iiko</span>Rms Basic", desc: "Установка, настройка, и запуск в эксплуатацию одного АРМ"}
      = partial :product_icon, locals: {icon: "9.png", title: "Полный курс <span class='brand'>iiko</span>Education", desc: "5 семинаров в течении одного месяца"}
