%article.text.reco.holder
  .reco-brand= image_tag "data/reco.jpg"
  %h1.reco-title Г.М.Р. Планета Гостеприимства

  %h2 <strong>Мераб Елашвили</strong>, президент компании Г.М.Р. Планета Гостеприимства:
  %p <em>данная система автоматизации позволит</em> объединить ключевые функции, контролировать основные статьи затрат - на персонал, на себестоимость.
  %p Мы начинаем с внедрения iiko в сетях ресторанов «Восточный Базар» и «Баш на Баш». Затем планируем подключить остальные рестораны – «Сбарро» и «Виаджио». Цель внедрения: получение инструментов контроля, сосредоточения функций контроля в ресторанах, что будет способствовать развитию менеджеров. Они сами смогут контролировать статьи затрат, получат опыт в области оптимизации бизнеса».
  %p Мы ожидаем, что новая система повлияет на работу управленческого состава ресторанов, то есть на операционный департамент. Плюс финансы и HR (табели учета информации, рабочего времени). Система позволит поддерживать постоянную связь ресторанов с офисом и производственно-распределительным центром. Мы снова начнем, как когда-то, управлять фудкостами. Кухня и все движения продуктов станут прозрачными. Это важно для учета списаний и контроля за ситуацией на складе ресторана.
  %p <em>в целом, если говорить о мировом ресторанном рынке</em>, то пока его скорее можно назвать консервативным и придерживающимся классических представлений о том, как нужно вести бизнес. Но в Европе уже есть примеры того, как рестораторы используют высокие технологии в работе.
  %p Думаю, Россия тоже встанет на этот путь, ресторанный бизнес потихоньку уже начинает использовать идеи в области высоких технологий и внедрять их на практике. Просто иногда это достаточно рискованно, а не каждый в бизнесе, особенно в реалиях российского рынка, может себе позволить рисковать.
  %p Плюс, немаловажен момент значительных инвестиций во все эти проекты. Бизнес должен уже достичь определенной планки, чтобы позволить себе использование высоких технологий и чтобы они себя окупили. Я думаю, что у нас все впереди. Медленно, но верно мы идем по направлению к прогрессу.

  %h2 <strong>Алексей Лепе</strong>, IT-директор компании Г.М.Р. Планета гостеприимства:
  %p <em>ресторанные сети «сбарро» и «восточный базар»</em> гармонично сочетают в себе черты фастфуда и хорошего ресторана: мы предлагаем своим гостям еду ресторанного качества по демократичной цене, при этом в наших заведениях благодаря специальной технологии организации торговли практически нет очередей.
  %p Мы выбрали iiko, так как это решение позволяет решить весь спектр задач управления сетью, а  также идеально соответствует нашему подходу к бизнесу: оперативность и продуманность до мелочей.
  %p <em>для управления крупной ресторанной сетью</em> жизненно важно, чтобы система обладала надежной технологией обмена данными и позволяла, с одной стороны, получать консолидированную информацию о деятельности отдельных заведений, а с другой стороны, обеспечивать эффективное управление ресторанной концепцией, позволяющее поддерживать единые стандарты производства и  обслуживания во всех ресторанах сети.
  %p С помощью iiko мы оперативно контролируем всю сеть, а новые цены, спецпредложения и т.п. мгновенно передаются из центрального офиса во все рестораны и автоматически вступают в силу в назначенный срок.
