---
menu_3: is__active
---
= partial :submenu, locals: {titles: ["Совет директоров", "Руководство", "Работа в iiko", "Клиенты", "iiko в цифрах", "Новости и мероприятия"]}

.scr.scr_about
  .scr-in
    %h1.scr-header Как мы работаем
    %p.scr-slogan РАЗРАБАТЫВАЕМ ЛУЧШИЕ СИСТЕМЫ RMS С 2005 ГОДА

.job-about
  .holder
    .lr-list
      = partial :lr, locals: {image: "serv1.jpg", title: "Демонстрация системы"}
      = partial :lr, locals: {image: "serv2.jpg", title: "Подбор конфигурации"}
      = partial :lr, locals: {image: "serv3.jpg", title: "Заказ оборудования"}
      = partial :lr, locals: {image: "serv4.jpg", title: "Обучение персонала"}
      = partial :lr, locals: {image: "serv5.jpg", title: "Внедрение"}
      = partial :lr, locals: {image: "serv6.jpg", title: "Поддержка"}

.section.service-big
  .holder
    %h1 Работа с крупными клиентами
    %p Команду «Айко» отличает высокий профессиональный уровень каждого ее сотрудника: при поступлении на работу будущие сотрудники компании проходят жесткий отбор, поэтому те, кто работает в компании, по праву гордятся своим коллективом.

.service-buttons.buttons
  = partial :button, locals: {text: "Рассчитать стоимость", aclass: "button_action button_big button_alt"}
  = partial :button, locals: {text: "найти партнера iiko в своем городе", aclass: "button_action button_big"}
