---
menu_1: is__active
item: true
---
= partial :submenu, locals: {titles: ["Ресторан с обслу-<br>живанием у столов", "Сеть <br>ресторанов", "Ресторан с быстрым <br>обслуживанием", "Небольшое <br>заведение", "Служба <br>доставки", "Корпоративное питание <br>и кейтеринг", "Продукты <br>и цены"], alt: 7, link: "solution.html"}

.section.solutions-header
  %h1 Типовые проекты автоматизации
  %p Типовые проекты помогут вам рассчитать комплектацию <br/>и стоимость решения для вашего бизнеса

.section.solution-item-list
  .holder
    .lr-list
      - lr_link = "solution.html"
      = partial :lr, locals: {title: "Управление рестораном с&nbsp;обслуживанием у&nbsp;столов", image: "solutions-table-serving.png", more: true, link: lr_link}
      = partial :lr, locals: {title: "Управление сетью ресторанов", image: "solutions-chain.png", more: true, link: lr_link}
      = partial :lr, locals: {title: "Управление рестораном с&nbsp;быстрым обслуживанием", image: "solutions-fastfood.png", more: true, link: lr_link}
      = partial :lr, locals: {title: "Управление небольшими заведениями", image: "solutions-bar.png", more: true, link: lr_link}
      = partial :lr, locals: {title: "Корпоративное питание и&nbsp;кейтеринг", image: "solutions-corporate.png", more: true, link: lr_link}
      = partial :lr, locals: {title: "Управление службой доставки", image: "solutions-delivery.png", more: true, link: lr_link}

.section.solutions-products
  .holder
    %h1 Продукты и цены
    .solutions-products-list.js__eqs
      = partial :product_icon, locals: {icon: "1.png", title: "Server", brand: "iiko", desc: "Сервер iiko в ресторане", nobutton: true}
      = partial :product_icon, locals: {icon: "2.png", title: "Front", brand: "iiko", desc: "автоматизация кассовой станции", nobutton: true}
      = partial :product_icon, locals: {icon: "3.png", title: "Office", brand: "iiko", desc: "автоматизация управления складом, персоналом, финансами", nobutton: true}
      = partial :product_icon, locals: {icon: "4.png", title: "Atlas 350", brand: "ePOS ", desc: "Станция фронт-офиса", nobutton: true}
      = partial :product_icon, locals: {icon: "5.png", title: "Atlas 350", brand: "ePOS ", desc: "Станция фронт-офиса", nobutton: true}
      = partial :product_icon, locals: {icon: "6.png", title: "Printer T12", brand: "ePOS ", desc: "Станция фронт-офиса", nobutton: true}
      = partial :product_icon, locals: {icon: "7.png", title: "Настройка оборудования", nobutton: true}
      = partial :product_icon, locals: {icon: "8.png", title: "Обучение персонала", nobutton: true}
      = partial :product_icon, locals: {icon: "9.png", title: "Консалтинг", nobutton: true}
    .loader
      = partial :button, locals: {text: "Все продукты", aclass: "button_alt button_big button_action"}

