---
menu_1: is__active
item: true
---
= partial :submenu, locals: {titles: ["Ресторан с обслу-<br>живанием у столов", "Сеть <br>ресторанов", "Ресторан с быстрым <br>обслуживанием", "Небольшое <br>заведение", "Служба <br>доставки", "Корпоративное питание <br>и кейтеринг", "Продукты <br>и цены"], active: 2, alt: 7, link: "solution.html"}

.smain
  .tholder
    %h1 Управление сетью ресторанов
    %p Тотальная автоматизация позволит вам сделать работу сети максимально гибкой и управляемой, освобождая ресурсы для развития бизнеса
  .smain-menu
    %a.smain-menu-link.smain-menu-link_1{:href => "#"} Центриальный офис
    %a.smain-menu-link.smain-menu-link_2{:href => "#"} Фабрика кухня
    %a.smain-menu-link.smain-menu-link_3{:href => "#"} Рестораны сети

.section.specials.specials_solution
  .holder
    %a.special.special_cost{:href => "#"} Сколько стоит
    %a.special.special_where{:href => "#"} Где купить
    %a.special.special_how{:href => "#"} Как мы работаем
    %a.special.special_pres{:href => "#"} Презентации

.solutions
  .solution.section
    .solution-body
      .solution-num 1
      %h2.solution-title Центральный офис
      .solution-lead <strong>грамотно внедренная</strong>, современная система управления ресурсами позволяет получить существенное конкурентное преимущество, а&nbsp;также высвободить скрытые резервы компании за&nbsp;счет снижения издержек и&nbsp;увеличения прибыли.

      = partial :slider, locals: {items: ["sol0.jpg", "sol1.jpg", "sol2.jpg", "sol3.jpg"], aclass: "solution-slider"}

      .solution-desc
        %p Для владельца или управляющего возможность своими глазами увидеть, что происходит в зале или на кухне, трудно переоценить. Теперь Вам не надо просматривать часами многочисленные кассеты с записью: iikoSecurity по номеру чека или названию операции, имени гостя или официанта и тому подобным параметрам мгновенно отсортирует нужные Вам фрагменты записи.
    .solution-products
      .holder
        %h3.solution-products-title
          %span.solution-products-title-in Продукты для автоматизации центрального офиса
        = partial :"data/products"
  .solution.section
    .solution-body
      .solution-num 2
      %h2.solution-title Фабрика-кухня
      .solution-lead <strong>грамотно внедренная, современная система управления</strong> ресурсами позволяет получить существенное конкурентное преимущество, а&nbsp;также высвободить скрытые резервы компании за&nbsp;счет снижения издержек и&nbsp;увеличения прибыли.
      = partial :slider, locals: {items: ["sol1.jpg", "sol0.jpg", "sol2.jpg", "sol3.jpg"], aclass: "solution-slider"}
      .solution-desc
        %p Для владельца или управляющего возможность своими глазами увидеть, что происходит в зале или на кухне, трудно переоценить. Теперь Вам не надо просматривать часами многочисленные кассеты с записью: iikoSecurity по номеру чека или названию операции, имени гостя или официанта и тому подобным параметрам мгновенно отсортирует нужные Вам фрагменты записи.

        = partial :quote, locals: {image: "logo_ch.jpg", text: "Раньше на смену меню у нас уходило несколько дней, сейчас мы можем из офиса автоматически активировать новое меню в заданный срок. Таким образом, <strong>время на внедрение блюда сократилось в десятки раз</strong>", author: "Владислав Дудаков, Президент холдинга «Кофе Хауз»"}

        %p Для владельца или управляющего возможность своими глазами увидеть, что происходит в зале или на кухне, трудно переоценить. Теперь Вам не надо просматривать часами многочисленные кассеты с записью: iikoSecurity по номеру чека или названию операции, имени гостя или официанта и тому подобным параметрам мгновенно отсортирует нужные Вам фрагменты записи.
    .solution-products.hidbox
      .holder
        %h3.solution-products-title
          %span.solution-products-title-in Продукты для автоматизации центрального офиса
        = partial :"data/products"

  .solution.section
    .solution-body
      .solution-num 3
      %h2.solution-title Колл-центр
      .solution-lead <strong>грамотно внедренная,</strong> современная система управления ресурсами позволяет получить существенное конкурентное преимущество, а&nbsp;также высвободить скрытые резервы компании за&nbsp;счет снижения издержек и&nbsp;увеличения прибыли.
      = partial :slider, locals: {items: ["sol2.jpg", "sol1.jpg", "sol0.jpg", "sol3.jpg"], aclass: "solution-slider"}
      .solution-desc
        %p Для владельца или управляющего возможность своими глазами увидеть, что происходит в зале или на кухне, трудно переоценить. Теперь Вам не надо просматривать часами многочисленные кассеты с записью: iikoSecurity по номеру чека или названию операции, имени гостя или официанта и тому подобным параметрам мгновенно отсортирует нужные Вам фрагменты записи.

        = partial :quote, locals: {image: "logo_dunkin.jpg", text: "iiko решает целый комплекс бизнес-задач и позволяет нам контролировать как эффективность деятельности каждого направления, так и компании в целом", author: "Светлана Валиева, Генеральный директор <strong>Dunkin Donuts</strong>"}

        %p Для владельца или управляющего возможность своими глазами увидеть, что происходит в зале или на кухне, трудно переоценить. Теперь Вам не надо просматривать часами многочисленные кассеты с записью: iikoSecurity по номеру чека или названию операции, имени гостя или официанта и тому подобным параметрам мгновенно отсортирует нужные Вам фрагменты записи.
    .solution-products.hidbox
      .holder
        %h3.solution-products-title
          %span.solution-products-title-in Продукты для автоматизации центрального офиса
        = partial :"data/products"

  .solution.section
    .solution-body
      .solution-num 4
      %h2.solution-title Рестораны сети
      .solution-lead <strong>грамотно внедренная,</strong> современная система управления ресурсами позволяет получить существенное конкурентное преимущество, а&nbsp;также высвободить скрытые резервы компании за&nbsp;счет снижения издержек и&nbsp;увеличения прибыли.
      = partial :slider, locals: {items: ["sol3.jpg", "sol1.jpg", "sol2.jpg", "sol0.jpg"], aclass: "solution-slider"}
      .solution-desc
        %p Для владельца или управляющего возможность своими глазами увидеть, что происходит в зале или на кухне, трудно переоценить. Теперь Вам не надо просматривать часами многочисленные кассеты с записью: iikoSecurity по номеру чека или названию операции, имени гостя или официанта и тому подобным параметрам мгновенно отсортирует нужные Вам фрагменты записи.
        = partial :quote, locals: {image: "logo_dunkin.jpg", text: "iiko решает целый комплекс бизнес-задач и позволяет нам контролировать как эффективность деятельности каждого направления, так и компании в целом", author: "Светлана Валиева, Генеральный директор <strong>Dunkin Donuts</strong>"}
        %p Для владельца или управляющего возможность своими глазами увидеть, что происходит в зале или на кухне, трудно переоценить. Теперь Вам не надо просматривать часами многочисленные кассеты с записью: iikoSecurity по номеру чека или названию операции, имени гостя или официанта и тому подобным параметрам мгновенно отсортирует нужные Вам фрагменты записи.
    .solution-products.hidbox
      .holder
        %h3.solution-products-title
          %span.solution-products-title-in Продукты для автоматизации центрального офиса
        = partial :"data/products"


