---
menu_3: is__active
---
.section.support-num
  .holder
    %h1 У меня сломалось
    %form.searchbox.searchbox_p{action: "#"}
      .searchbox-pre Я знаю свой номер клиента iiko:
      .searchbox-form
        %input.form-input{type: "text"}/
        = partial :button, locals: {text: "Найти", is_button: true}

.section.support-search
  .holder
    %form.searchbox.searchbox_p{action: "#"}
      .searchbox-pre Хочу позвонить ближайшему ко&nbsp;мне дилеру iiko
      .searchbox-form
        %input.form-input{type: "text"}/
        = partial :button, locals: {text: "Найти", is_button: true}
    .search-results
      = partial :result, locals: {image: "search1.jpg", title: "Компания iResto", id: 1}
      = partial :result, locals: {image: "search2.jpg", title: "Компания «Ниагара-Сервис»", id: 2}
      = partial :result, locals: {image: "search3.jpg", title: "Компания «Отдел Внедрения»", id: 3}

.section.support-phones
  .holder
    %h1 Центральная <br>служба поддержки <br>iiko:
    .support-phones-side
      %h2 Москва
      %p +7(495) 215 0941
      %h2 Регионы России
      %p 8 (800) 555 1063

.section.courses
  .holder
    %h1 Я хочу лучше научиться использовать iiko
    .courses-list
      %a.course{:href => "#"}
        %span.course-image= image_tag "data/support-videos.png"
        %span.course-title Обучающие ролики
      %a.course{:href => "#"}
        %span.course-image= image_tag "data/support-webinars.png"
        %span.course-title Регулярные вебинары
      %a.course{:href => "#"}
        %span.course-image= image_tag "data/support-seminars.png"
        %span.course-title Занятия в учебном центре iiko
      %a.course{:href => "#"}
        %span.course-image= image_tag "data/support-qa-hour.png"
        %span.course-title Час вопросов и ответов

.section.docs
  .holder
    %h1 Документация к продуктам iiko
    .docs-list
      = partial :doc, locals: {title: "История разработки iiko", body: [{links: ["Описание истории изменений и доработок iiko, начиная с версии 3.3"]}]}
      = partial :doc, locals: {title: "Система iiko", body: [{links: ["Руководство пользователя iikoOffice", "Руководство пользователя iikoFront", "Руководство пользователя iikoChain"]}]}
      = partial :doc, locals: {title: "Система iiko.net", body: [{links: ["Инструкция по подключению", "Руководство пользователя", "Использование сервиса iiko.NET в кассовой системе R-Keeper 6"]}]}
      = partial :doc, locals: {title: "Решение iikoDelivery", body: [{links: ["iikoDelivery, руководство пользователя", "Инструкция по установке и настройке модуля ikoCallCenter", "Инструкция по настройке приема заказов на доставку с сайта ресторана и последующей обработки их с помощью iikoDelivery", "Как оплатить доставку картой Плас-Тек и получить бонус (инструкция)"]}]}
      = partial :doc, locals: {title: "Специальные решения", body: [{links: ["iikoScanning, руководство пользователя", "iikoCard, руководство пользователя", "iikoCard, инструкция по установке и настройке", "iikoCard, интерфейс программирования приложений (API)", "iikoCard, пример использования библиотеки"]}]}
      = partial :doc, locals: {title: "Интеграция с гостиничными системами", body: [{links: ["Интеграция с системой Epitome", "Интеграция с системой Hoist", "Интеграция с системой «Эдельвейс»"]}]}
      = partial :doc, locals: {title: "Дополнительная документация", body: [{links: ["Руководство по настройке тарифицируемых услуг (бильярд, караоке и т.п.)", "iikoDJ, help-файл"]}]}
      = partial :doc, locals: {title: "Рекомендации по использованию системы", body: [{links: ["Как подготовить алкогольную декларацию", "Как формируются ведомости полуфабрикатов и сводные заказы", "Как получить балансовый отчет с детализацией по одному или нескольким торговым предприятиям (iikoChain)"]}], more: "Еще 6 документов"}
      = partial :doc, locals: {title: "Документация по предыдущим версиям", body: [{title: "Версия 3.5:", links: ["Руководство пользователя iikoOffice", "Руководство пользователя iikoFront", "Руководство пользователя iikoChain"]}, {title: "Версия 3.4:", links: ["Руководство пользователя iikoOffice", "Руководство пользователя iikoFront", "Руководство пользователя iikoChain"]}], more: "Еще 22 документа"}

.section.faqs
  .holder
    %h1 Часто задаваемые вопросы
    .faqs-list
      .faq
        %h2.faq-title
          %a{:href => "#"} Как часто происходит обновление систем iiko?
        %p <strong>многие рестораторы</strong>, создав успешное заведение, задумываются о том, чтобы организовать службу доставки готовых блюд, ведь это хороший источник дополнительной прибыли и отличное средство для привлечения новых гостей!
      .faq
        %h2.faq-title
          %a{:href => "#"}Придется ли доплачивать за установку дополнительных модулей?
        %p С помощью единого интегрированного комплекса решений iiko вы сможете сделать работу вашей службы доставки эффективной, а также приятно удивить своих гостей удобством, скоростью и качеством обслуживания
      .faq
        %h2.faq-title
          %a{:href => "#"} Как часто происходит обновление систем iiko?
        %p <strong>многие рестораторы</strong>, создав успешное заведение, задумываются о том, чтобы организовать службу доставки готовых блюд, ведь это хороший источник дополнительной прибыли и отличное средство для привлечения новых гостей!
      .faq
        %h2.faq-title
          %a{:href => "#"}Придется ли доплачивать за установку дополнительных модулей?
        %p С помощью единого интегрированного комплекса решений iiko вы сможете сделать работу вашей службы доставки эффективной, а также приятно удивить своих гостей удобством, скоростью и качеством обслуживания
