%article.text.holder
  .text-header
    %h1.text-title FAQ-cafe creative studio
    .text-subtitle ИСТОРИИ УСПЕХА
    .text-img= image_tag "data/text.jpg"
    .text-lead <strong>faq-café стало по-настоящему</strong> культовым в кругах творческой молодежи и среди тех, кто ценит свободу и независимость от условностей. Как и в творчестве, здесь все состоит из контрастов.
  %h2 Контраст и единство
  %p FAQ-café Creative Studio - уютный клуб в самом центре Москвы. Это необычное заведение, напоминающее гостеприимную квартиру в разгар шумной вечеринки. Своим названием клуб обязан аббревиатуре FAQ - Frequently asked questions, что означает «часто задаваемые вопросы».
  %p FAQ-Café стало по-настоящему культовым в кругах творческой молодежи и среди тех, кто ценит свободу и независимость от условностей. Как и в творчестве, здесь все состоит из контрастов. На сводах, переживших пожар 1812 года, среди фото- и графических инсталляций нашли свое место плоские мониторы и антенны беспроводного интернета.
  %p Экзотическое FAQ-меню свело воедино гастрономические изыски Запада и Востока, а также превосходный вкус блюд с ценами, совершенно необременительными для кошелька гостя.
  .slider
  %p Руководство FAQ-café с первого дня основания основной своей целью ставило создание единого внутреннего механизма управления. Поэтому поиск высокотехнологичной информационной системы, которая могла бы стать надежным инструментом для дальнейшего развития, был одной из приоритетных задач.
  %p Решение о внедрении iiko (читается «айко») руководством было принято осенью 2006 г. До этого в течение двух лет в FAQ-café было сделано несколько попыток использовать наиболее популярные из существующих ресторанных систем, но найти такой, которая бы полностью соответствовала требованиям бизнеса, не удалось.

  %h2 iiko в действии
  %p Комплексный подход к автоматизации бизнеса обусловил использование персоналом FAQ-café всего комплекса функциональности iikoRMS.
  %p Рядовые сотрудники заведения высоко оценили удобный интерфейс iiko, а менеджмент – аналитические и управленческие инструменты, которые предоставляет новая система. «Все заведение теперь как на ладони – я вижу заранее, где может произойти сбой, а где все в порядке» - сказала Ольга Горенкова, генеральный директор FAQ-café.
  %p Особенностью проекта iiko в FAQ-café явилось использование высокотехнологичных решений, входящих в состав iikoRMS, с самого первого дня работы с системой. В заведении используется самое современное оборудование – переносные компьютеры для официантов, «умная» система видеонаблюдения, позволяющая сортировать видеоархив по различным признакам (номер чека, фамилия сотрудника, время операции и т.п.). Тщательно продуманной музыкальной программой заведения рулит инновационное решение iikoDJ.

  %blockquote.quote
    %p «Новая система помогла нам улучшить психологический климат в коллективе: гораздо проще стало решать такие щекотливые вопросы, как штрафы и премии – в iiko их начисление происходит автоматически и полностью прозрачно для персонала, поэтому никто не в обиде»
    .quote-author — Ольга Горенкова, Генеральный директор <strong>FAQ-cafe</strong>


  %p Самое ценное достояние FAQ-café – это сообщество гостей. Поэтому особое внимание было уделено реализации функционала, позволяющего эффективно работать с персональной информацией о гостях. С этой целью была создана единая база данных Сообщества FAQ-café и реализована интеграция с форумом faqcafe.ru. С помощью iiko производится публикация мероприятий on-line, рассылки новостей, членов Сообщества поздравляют с днем рождения и предоставляют им индивидуальные скидки.
  %p Результаты внедрения не заставили себя ждать: в течение 3 месяцев после внедрения iiko чистая прибыль заведения выросла почти в 4 раза. Большие достижения были отмечены также в области управления персоналом: сотрудники перестали опаздывать, т.к. штрафы стали начисляться автоматически, кафе смогло удержать лучших официантов, т.к. процент от собственной выручки позволил им получать компенсацию, превышающую зарплату высокооплачиваемых менеджеров.
  %p «Новая система помогла нам улучшить психологический климат в коллективе: гораздо проще стало решать такие щекотливые вопросы, как штрафы и премии – в iiko их начисление происходит автоматически и полностью прозрачно для персонала, поэтому никто не в обиде» - комментирует Ольга Горенкова.

  %h2 iiko в действии
  %p Молодой и творческий коллектив FAQ-café не собирается останавливаться на достигнутом. В заведении уже зачастую не хватает места, Сообщество гостей растет. В условиях постоянного роста бизнеса растут и требования к скорости и качеству обслуживания.
  %blockquote.quote
    %p «Новая система помогла нам улучшить психологический климат в коллективе: гораздо проще стало решать такие щекотливые вопросы, как штрафы и премии – в iiko их начисление происходит автоматически и полностью прозрачно для персонала, поэтому никто не в обиде»
    .quote-author — Ольга Горенкова, Генеральный директор <strong>FAQ-cafe</strong>
  %p Руководство и сотрудники FAQ-café постоянно совершенствуют методы своей работы, стараются чутко реагировать на изменения модных тенденций и вкусовых предпочтений гостей, постоянно предлагать что-то новое, сохраняя при этом те особенности, которые дороги постоянным посетителям.
  %p FAQcafe - детская Система iikoRMS также от версии к версии предлагает пользователям все более совершенные инструменты для управления бизнесом, развивая дополнительные уникальные сервисы для руководства и сотрудников.
